In [2]:
import csv
import urllib
import io
import pandas as pd
data = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160326.txt')

In [3]:
data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,00:00:00,REGULAR,5590801,1889027
1,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,04:00:00,REGULAR,5590828,1889032
2,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,08:00:00,REGULAR,5590852,1889059
3,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,12:00:00,REGULAR,5590958,1889162
4,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,16:00:00,REGULAR,5591207,1889248

In [4]:
data.columns

Index([u'C/A', u'UNIT', u'SCP', u'STATION', u'LINENAME', u'DIVISION', u'DATE',
       u'TIME', u'DESC', u'ENTRIES',
       u'EXITS                                                               '],
      dtype='object')

In [5]:
data.rename(columns={data.columns[-1]: data.columns[-1].replace(' ','')}, inplace=True)
data.columns

Index([u'C/A', u'UNIT', u'SCP', u'STATION', u'LINENAME', u'DIVISION', u'DATE',
       u'TIME', u'DESC', u'ENTRIES', u'EXITS'],
      dtype='object')

In [6]:
data['Delta'] = abs((data['ENTRIES'] - data['ENTRIES'].shift(-1)) + (data['EXITS'] - data['EXITS'].shift(-1)))

In [7]:
test = data.sort_values(['Delta'])

In [8]:
data[['TIME','DATE']] = pd.to_datetime(data[['TIME','DATE']])

TypeError: arg must be a string, datetime, list, tuple, 1-d array, or Series

In [ ]:
df_night = data[data['TIME' ==  ]

In [10]:
data[data['UNIT'] == 'R032'].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Delta
2676,A021,R032,01-00-00,TIMES SQ-42 ST,ACENQRS1237,BMT,03/19/2016,00:00:00,REGULAR,5552684,6509992,138.0
2677,A021,R032,01-00-00,TIMES SQ-42 ST,ACENQRS1237,BMT,03/19/2016,04:00:00,REGULAR,5552752,6510062,248.0
2678,A021,R032,01-00-00,TIMES SQ-42 ST,ACENQRS1237,BMT,03/19/2016,08:00:00,REGULAR,5552808,6510254,1090.0
2679,A021,R032,01-00-00,TIMES SQ-42 ST,ACENQRS1237,BMT,03/19/2016,12:00:00,REGULAR,5553001,6511151,1247.0
2680,A021,R032,01-00-00,TIMES SQ-42 ST,ACENQRS1237,BMT,03/19/2016,16:00:00,REGULAR,5553314,6512085,1286.0