### Benson Team Awesome

C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS


|Code      | explanation                                                                                     |
|:-------- |:----------------------------------------------------------------------------------------------- | 
| C/A      | Control Area (A002)                                                                          | 
| UNIT     | Remote Unit for a station (R051)                                                             | 
| SCP      | Subunit Channel Position represents an specific address for a device (02-00-00)              | 
| STATION  | Represents the station name the device is located at                                         | 
| LINENAME | Represents all train lines that can be boarded at this station                               | 
|          |   Normally lines are represented by one character.  LINENAME 456NQR repersents train server for | 
|          |   4, 5, 6, N, Q, and R trains.                                                                  | 
| DIVISION | Represents the Line originally the station belonged to BMT, IRT, or IND                      | 
| DATE     | Represents the date (MM-DD-YY)                                                               |   
| TIME     | Represents the time (hh:mm:ss) for a scheduled audit event                                   | 
| DESc     | Represent the "REGULAR" scheduled audit event (Normally occurs every 4 hours)                | 
|          |   1. Audits may occur more that 4 hours due to planning, or troubleshooting activities.         | 
|          |   2. Additionally, there may be a "RECOVR AUD" entry: This refers to a missed audit that was recovered. |
|ENTRIES   | The comulative entry register value for a device|
|EXIST     | The cumulative exit register value for a device|

In [1]:
import csv
import urllib
import io
import collections as clt
import pandas as pd
import numpy as np
import datetime as dt
import multiprocessing as mlp
data = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160402.txt')

In [2]:
data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,00:00:00,REGULAR,5595746,1893277
1,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,04:00:00,REGULAR,5595746,1893282
2,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,08:00:00,REGULAR,5595746,1893282
3,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,12:00:00,REGULAR,5595746,1893282
4,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,16:00:00,REGULAR,5595746,1893282

In [3]:
data.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [5]:
data.rename(columns={data.columns[-1]: data.columns[-1].strip(), 'C/A':'C_A'}, inplace=True)
data.columns

Index(['C_A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [ ]:
#data[mask, 'Delta'] = abs((data[mask,'ENTRIES'] - data[mask,'ENTRIES'].shift(-1)) + (data[mask,'EXITS'] - data[mask,'EXITS'].shift(-1)))
data.head()

In [ ]:
#test = data.sort_values(['Delta'])
#data.drop(['C/A', 'UNIT', 'SCP','STATION'], axis=1, inplace=True)

In [6]:
data['Period'] = data['DATE'] + ' ' + data['TIME']
data.Period = pd.to_datetime(data.Period)
#data.drop(['DATA','TIME'])

In [17]:
#df_night = data[data['TIME' ==  ]
#data.head()
raw_readings ={}
raw_readings.setdefault(tuple(['AA','BB']), pd.DataFrame()).append(pd.DataFrame(['5','6']))
raw_readings.keys()

dict_keys([('AA', 'BB')])

In [ ]:
#Create the keys that is used to make a mask
data_dict = clt.OrderedDict()
data['id'] = data.iloc[:, 0]
for j in range(data.shape[0]):
    data_dict.setdefault(tuple(data.ix[j,0:4]), pd.DataFrame())
        
#drop the keys that is 
#mask_key = data['id'].drop_duplicates()
#mask_ind = np.arange(mask_key.shape[0])
#data.id.replace(mask_key.as_matrix(), mask_ind, inplace=True)
#test = data.sort_values(['Delta'])
#data.drop(['C/A', 'UNIT', 'SCP','STATION'], axis=1, inplace=True)
#data.drop(['LINENAME', 'DIVISION', 'DATE','TIME'], axis=1, inplace=True)
#print(mask_key.as_matrix())
data_dict

In [ ]:
#Initialize the Delta columns as zeros
data['Delta_ENTRIES'] = np.zeros(data.shape[0])
data['Delta_EXITS'] = np.zeros(data.shape[0])

#temporary function to fill in the deltas by selections
#a0 = data['C/A'].drop_duplicates()
#a1 = data['UNIT'].drop_duplicates()
#a2 = data['SCP'].drop_duplicates()
#a3 = data['STATION'].drop_duplicates()
#for i0 in a0:
#    for i1 in a1:
        for 
def fill_in(mask):
    data.ix[mask,'Delta_ENTRIES'] = (data.loc[mask, 'ENTRIES'].shift(1) - data.loc[mask, 'ENTRIES'].shift(-1))
    data.ix[mask,'Delta_EXITS'] = (data.loc[mask, 'EXITS'].shift(1) - data.loc[mask, 'EXITS'].shift(-1))

In [ ]:
for s in mask_ind:
    mask = data['id'].isin(s)
    fill_in(mask)

In [ ]:
data['Delta_ENTRIES'] = (data['ENTRIES'] - data['ENTRIES'].shift(-1))
data['Delta_EXITS'] = (data['EXITS'] - data['EXITS'].shift(-1))
#print(data.head(20))
print(data.head(50))

In [ ]:
df.mask('DIVISION', 'BMT')

In [ ]:
import gmaps
data = gmaps.datasets.load_dataset('taxi_rides')
gmaps.heatmap(data)

In [ ]:
A = pd.DataFrame(np.random.randn(4, 4), columns=["A", "B", "C", "D"])
A.mask("A", 0.7).mask("B", 0.2)