### Benson Team Awesome

C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS


|Code      | explanation                                                                                     |
|:-------- |:----------------------------------------------------------------------------------------------- | 
| C/A      | Control Area (A002)                                                                          | 
| UNIT     | Remote Unit for a station (R051)                                                             | 
| SCP      | Subunit Channel Position represents an specific address for a device (02-00-00)              | 
| STATION  | Represents the station name the device is located at                                         | 
| LINENAME | Represents all train lines that can be boarded at this station                               | 
|          |   Normally lines are represented by one character.  LINENAME 456NQR repersents train server for | 
|          |   4, 5, 6, N, Q, and R trains.                                                                  | 
| DIVISION | Represents the Line originally the station belonged to BMT, IRT, or IND                      | 
| DATE     | Represents the date (MM-DD-YY)                                                               |   
| TIME     | Represents the time (hh:mm:ss) for a scheduled audit event                                   | 
| DESc     | Represent the "REGULAR" scheduled audit event (Normally occurs every 4 hours)                | 
|          |   1. Audits may occur more that 4 hours due to planning, or troubleshooting activities.         | 
|          |   2. Additionally, there may be a "RECOVR AUD" entry: This refers to a missed audit that was recovered. |
|ENTRIES   | The comulative entry register value for a device|
|EXIST     | The cumulative exit register value for a device|

In [1]:
import csv
import urllib
import io
import pandas as pd
import numpy as np
import multiprocessing as mlp
data = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160326.txt')

In [2]:
data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,00:00:00,REGULAR,5590801,1889027
1,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,04:00:00,REGULAR,5590828,1889032
2,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,08:00:00,REGULAR,5590852,1889059
3,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,12:00:00,REGULAR,5590958,1889162
4,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,16:00:00,REGULAR,5591207,1889248

In [11]:
data.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS', 'id'],
      dtype='object')

In [12]:
data.rename(columns={data.columns[-1]: data.columns[-1].replace(' ','')}, inplace=True)
data.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS', 'id'],
      dtype='object')

In [13]:
#data[mask, 'Delta'] = abs((data[mask,'ENTRIES'] - data[mask,'ENTRIES'].shift(-1)) + (data[mask,'EXITS'] - data[mask,'EXITS'].shift(-1)))
data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,id
0,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,00:00:00,REGULAR,5590801,1889027,"A002,R051,02-00-00,59 ST"
1,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,04:00:00,REGULAR,5590828,1889032,"A002,R051,02-00-00,59 ST"
2,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,08:00:00,REGULAR,5590852,1889059,"A002,R051,02-00-00,59 ST"
3,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,12:00:00,REGULAR,5590958,1889162,"A002,R051,02-00-00,59 ST"
4,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,16:00:00,REGULAR,5591207,1889248,"A002,R051,02-00-00,59 ST"

In [14]:
#test = data.sort_values(['Delta'])

In [15]:
#data[['TIME','DATE']] = pd.to_datetime(data[['TIME','DATE']])

In [16]:
#df_night = data[data['TIME' ==  ]

In [18]:
#Create the keys that is used to make a mask

data['id'] = data.iloc[:, 0]
for j in range(1,4):
        data.ix[:,'id'] += ',' + data.iloc[:,j]
        
#drop the keys that is 
mask_key = data['id'].drop_duplicates()
print(data.head())

    C/A  UNIT       SCP STATION LINENAME DIVISION        DATE      TIME  \
0  A002  R051  02-00-00   59 ST   NQR456      BMT  03/19/2016  00:00:00
1  A002  R051  02-00-00   59 ST   NQR456      BMT  03/19/2016  04:00:00
2  A002  R051  02-00-00   59 ST   NQR456      BMT  03/19/2016  08:00:00
3  A002  R051  02-00-00   59 ST   NQR456      BMT  03/19/2016  12:00:00
4  A002  R051  02-00-00   59 ST   NQR456      BMT  03/19/2016  16:00:00

      DESC  ENTRIES    EXITS                        id
0  REGULAR  5590801  1889027  A002,R051,02-00-00,59 ST
1  REGULAR  5590828  1889032  A002,R051,02-00-00,59 ST
2  REGULAR  5590852  1889059  A002,R051,02-00-00,59 ST
3  REGULAR  5590958  1889162  A002,R051,02-00-00,59 ST
4  REGULAR  5591207  1889248  A002,R051,02-00-00,59 ST

In [19]:
#Initialize the Delta columns as zeros
data['Delta'] = np.zeros(data.shape[0])

#temporary function to fill in the deltas by selections
def fill_in(mask):
    data.loc[mask,'Delta'] = abs((data.loc[mask, 'ENTRIES'] - data.loc[mask, 'ENTRIES'].shift(-1)) + (data.loc[mask, 'EXITS'] - data.loc[mask, 'EXITS'].shift(-1)))

In [20]:
for s in mask_key:
    mask = data.ix[:,'id'] == s
    fill_in(mask)

In [22]:
#print(data.head(20))
print(data.tail(50))

          C/A  UNIT       SCP        STATION LINENAME DIVISION        DATE  \
192896  TRAM2  R469  00-05-00  RIT-ROOSEVELT        R      RIT  03/24/2016
192897  TRAM2  R469  00-05-00  RIT-ROOSEVELT        R      RIT  03/24/2016
192898  TRAM2  R469  00-05-00  RIT-ROOSEVELT        R      RIT  03/25/2016
192899  TRAM2  R469  00-05-00  RIT-ROOSEVELT        R      RIT  03/25/2016
192900  TRAM2  R469  00-05-00  RIT-ROOSEVELT        R      RIT  03/25/2016
192901  TRAM2  R469  00-05-00  RIT-ROOSEVELT        R      RIT  03/25/2016
192902  TRAM2  R469  00-05-00  RIT-ROOSEVELT        R      RIT  03/25/2016
192903  TRAM2  R469  00-05-00  RIT-ROOSEVELT        R      RIT  03/25/2016
192904  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/19/2016
192905  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/19/2016
192906  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/19/2016
192907  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/19/2016
192908  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/19/2016
192909  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/19/2016
192910  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/20/2016
192911  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/20/2016
192912  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/20/2016
192913  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/20/2016
192914  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/20/2016
192915  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/20/2016
192916  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/21/2016
192917  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/21/2016
192918  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/21/2016
192919  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/21/2016
192920  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/21/2016
192921  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/21/2016
192922  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/22/2016
192923  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/22/2016
192924  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/22/2016
192925  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/22/2016
192926  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/22/2016
192927  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/22/2016
192928  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/23/2016
192929  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/23/2016
192930  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/23/2016
192931  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/23/2016
192932  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/23/2016
192933  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/23/2016
192934  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/24/2016
192935  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/24/2016
192936  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/24/2016
192937  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/24/2016
192938  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/24/2016
192939  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/24/2016
192940  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/25/2016
192941  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/25/2016
192942  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/25/2016
192943  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/25/2016
192944  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/25/2016
192945  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT  03/25/2016

            TIME     DESC  ENTRIES  EXITS                                 id  \
192896  17:00:00  REGULAR     2122     62  TRAM2,R469,00-05-00,RIT-ROOSEVELT
192897  21:00:00  REGULAR     2122     62  TRAM2,R469,00-05-00,RIT-ROOSEVELT
192898  01:00:00  REGULAR     2122     62  TRAM2,R469,00-05-00,RIT-ROOSEVELT
192899  05:00:00  REGULAR     2122     62  TRAM2,R469,00-05-00,RIT-ROOSEVELT
192900  09:00:00  REGULAR     2123     62  TRAM2,R469,00-05-00,RIT-ROOSEVELT
192901  13:00:00  REGULAR     2123     62  TRAM2,R469,00-05-00,RIT-ROOSEVELT
192902  17:00:00  REGULAR     2124     62  TRAM2,R469,00-05-00,RIT-ROOSEVELT
192903  21:00:00  REGULAR     2124     62  TRAM2,R469,00-05-00,RIT-ROOSEVELT
192904  01:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192905  05:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192906  09:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192907  13:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192908  17:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192909  21:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192910  01:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192911  05:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192912  09:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192913  13:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192914  17:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192915  21:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192916  01:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192917  05:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192918  09:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192919  13:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192920  17:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192921  21:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192922  01:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192923  05:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192924  09:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192925  13:00:00  REGULAR     5554    234  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192926  17:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192927  21:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192928  01:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192929  05:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192930  09:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192931  13:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192932  17:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192933  21:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192934  01:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192935  05:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192936  09:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192937  13:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192938  17:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192939  21:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192940  01:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192941  05:00:00  REGULAR     5554    235  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192942  09:00:00  REGULAR     5554    236  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192943  13:00:00  REGULAR     5554    236  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192944  17:00:00  REGULAR     5554    236  TRAM2,R469,00-05-01,RIT-ROOSEVELT
192945  21:00:00  REGULAR     5554    236  TRAM2,R469,00-05-01,RIT-ROOSEVELT

        Delta
192896      0
192897      0
192898      0
192899      1
192900      0
192901      1
192902      0
192903    NaN
192904      0
192905      0
192906      0
192907      0
192908      0
192909      0
192910      0
192911      0
192912      0
192913      0
192914      0
192915      0
192916      0
192917      0
192918      0
192919      0
192920      0
192921      0
192922      0
192923      0
192924      0
192925      1
192926      0
192927      0
192928      0
192929      0
192930      0
192931      0
192932      0
192933      0
192934      0
192935      0
192936      0
192937      0
192938      0
192939      0
192940      0
192941      1
192942      0
192943      0
192944      0
192945    NaN