### Benson Team Awesome

C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS


|Code      | explanation                                                                                     |
|:-------- |:----------------------------------------------------------------------------------------------- | 
| C/A      | Control Area (A002)                                                                          | 
| UNIT     | Remote Unit for a station (R051)                                                             | 
| SCP      | Subunit Channel Position represents an specific address for a device (02-00-00)              | 
| STATION  | Represents the station name the device is located at                                         | 
| LINENAME | Represents all train lines that can be boarded at this station                               | 
|          |   Normally lines are represented by one character.  LINENAME 456NQR repersents train server for | 
|          |   4, 5, 6, N, Q, and R trains.                                                                  | 
| DIVISION | Represents the Line originally the station belonged to BMT, IRT, or IND                      | 
| DATE     | Represents the date (MM-DD-YY)                                                               |   
| TIME     | Represents the time (hh:mm:ss) for a scheduled audit event                                   | 
| DESc     | Represent the "REGULAR" scheduled audit event (Normally occurs every 4 hours)                | 
|          |   1. Audits may occur more that 4 hours due to planning, or troubleshooting activities.         | 
|          |   2. Additionally, there may be a "RECOVR AUD" entry: This refers to a missed audit that was recovered. |
|ENTRIES   | The comulative entry register value for a device|
|EXIST     | The cumulative exit register value for a device|

In [2]:
import csv
import urllib
import io
import pandas as pd
import numpy as np
import multiprocessing as mlp
data = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160326.txt')

In [3]:
data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,00:00:00,REGULAR,5590801,1889027
1,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,04:00:00,REGULAR,5590828,1889032
2,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,08:00:00,REGULAR,5590852,1889059
3,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,12:00:00,REGULAR,5590958,1889162
4,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,16:00:00,REGULAR,5591207,1889248

In [4]:
data.columns

Index([u'C/A', u'UNIT', u'SCP', u'STATION', u'LINENAME', u'DIVISION', u'DATE',
       u'TIME', u'DESC', u'ENTRIES',
       u'EXITS                                                               '],
      dtype='object')

In [5]:
data.rename(columns={data.columns[-1]: data.columns[-1].replace(' ','')}, inplace=True)
data.columns

Index([u'C/A', u'UNIT', u'SCP', u'STATION', u'LINENAME', u'DIVISION', u'DATE',
       u'TIME', u'DESC', u'ENTRIES', u'EXITS'],
      dtype='object')

In [6]:
#data[mask, 'Delta'] = abs((data[mask,'ENTRIES'] - data[mask,'ENTRIES'].shift(-1)) + (data[mask,'EXITS'] - data[mask,'EXITS'].shift(-1)))
data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,00:00:00,REGULAR,5590801,1889027
1,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,04:00:00,REGULAR,5590828,1889032
2,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,08:00:00,REGULAR,5590852,1889059
3,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,12:00:00,REGULAR,5590958,1889162
4,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,16:00:00,REGULAR,5591207,1889248

In [10]:
#Create the keys that is used to make a mask

data['id'] = data.iloc[:, 0]
for j in range(1,4):
        data.ix[:,'id'] += ',' + data.iloc[:,j]
        
#drop the keys that is 
mask_key = data['id'].drop_duplicates()
print(data.head())

    C/A  UNIT       SCP STATION LINENAME DIVISION        DATE      TIME  \
0  A002  R051  02-00-00   59 ST   NQR456      BMT  03/19/2016  00:00:00
1  A002  R051  02-00-00   59 ST   NQR456      BMT  03/19/2016  04:00:00
2  A002  R051  02-00-00   59 ST   NQR456      BMT  03/19/2016  08:00:00
3  A002  R051  02-00-00   59 ST   NQR456      BMT  03/19/2016  12:00:00
4  A002  R051  02-00-00   59 ST   NQR456      BMT  03/19/2016  16:00:00

      DESC  ENTRIES    EXITS                        id
0  REGULAR  5590801  1889027  A002,R051,02-00-00,59 ST
1  REGULAR  5590828  1889032  A002,R051,02-00-00,59 ST
2  REGULAR  5590852  1889059  A002,R051,02-00-00,59 ST
3  REGULAR  5590958  1889162  A002,R051,02-00-00,59 ST
4  REGULAR  5591207  1889248  A002,R051,02-00-00,59 ST

In [11]:
#Initialize the Delta columns as zeros
data['Delta'] = np.zeros(data.shape[0])

#temporary function to fill in the deltas by selections
def fill_in(mask):
    data.loc[mask,'Delta'] = abs((data.loc[mask, 'ENTRIES'] - data.loc[mask, 'ENTRIES'].shift(-1)) + (data.loc[mask, 'EXITS'] - data.loc[mask, 'EXITS'].shift(-1)))

In [12]:
for s in mask_key:
    mask = data.ix[:,'id'] == s
    fill_in(mask)

In [14]:
#print(data.head(20))
data.head(50)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,id,Delta
0,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,00:00:00,REGULAR,5590801,1889027,"A002,R051,02-00-00,59 ST",32.0
1,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,04:00:00,REGULAR,5590828,1889032,"A002,R051,02-00-00,59 ST",51.0
2,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,08:00:00,REGULAR,5590852,1889059,"A002,R051,02-00-00,59 ST",209.0
3,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,12:00:00,REGULAR,5590958,1889162,"A002,R051,02-00-00,59 ST",335.0
4,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,16:00:00,REGULAR,5591207,1889248,"A002,R051,02-00-00,59 ST",406.0
5,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,20:00:00,REGULAR,5591533,1889328,"A002,R051,02-00-00,59 ST",200.0
6,A002,R051,02-00-00,59 ST,NQR456,BMT,03/20/2016,00:00:00,REGULAR,5591699,1889362,"A002,R051,02-00-00,59 ST",30.0
7,A002,R051,02-00-00,59 ST,NQR456,BMT,03/20/2016,04:00:00,REGULAR,5591721,1889370,"A002,R051,02-00-00,59 ST",27.0
8,A002,R051,02-00-00,59 ST,NQR456,BMT,03/20/2016,08:00:00,REGULAR,5591731,1889387,"A002,R051,02-00-00,59 ST",132.0
9,A002,R051,02-00-00,59 ST,NQR456,BMT,03/20/2016,12:00:00,REGULAR,5591799,1889451,"A002,R051,02-00-00,59 ST",258.0
10,A002,R051,02-00-00,59 ST,NQR456,BMT,03/20/2016,16:00:00,REGULAR,5591992,1889516,"A002,R051,02-00-00,59 ST",299.0
11,A002,R051,02-00-00,59 ST,NQR456,BMT,03/20/2016,20:00:00,REGULAR,5592229,1889578,"A002,R051,02-00-00,59 ST",147.0
12,A002,R051,02-00-00,59 ST,NQR456,BMT,03/21/2016,00:00:00,REGULAR,5592345,1889609,"A002,R051,02-00-00,59 ST",14.0
13,A002,R051,02-00-00,59 ST,NQR456,BMT,03/21/2016,04:00:00,REGULAR,5592355,1889613,"A002,R051,02-00-00,59 ST",156.0
14,A002,R051,02-00-00,59 ST,NQR456,BMT,03/21/2016,08:00:00,REGULAR,5592398,1889726,"A002,R051,02-00-00,59 ST",421.0
15,A002,R051,02-00-00,59 ST,NQR456,BMT,03/21/2016,12:00:00,REGULAR,5592537,1890008,"A002,R051,02-00-00,59 ST",384.0
16,A002,R051,02-00-00,59 ST,NQR456,BMT,03/21/2016,16:00:00,REGULAR,5592853,1890076,"A002,R051,02-00-00,59 ST",852.0
17,A002,R051,02-00-00,59 ST,NQR456,BMT,03/21/2016,20:00:00,REGULAR,5593466,1890315,"A002,R051,02-00-00,59 ST",222.0
18,A002,R051,02-00-00,59 ST,NQR456,BMT,03/22/2016,00:00:00,REGULAR,5593648,1890355,"A002,R051,02-00-00,59 ST",9.0
19,A002,R051,02-00-00,59 ST,NQR456,BMT,03/22/2016,04:00:00,REGULAR,5593655,1890357,"A002,R051,02-00-00,59 ST",150.0
20,A002,R051,02-00-00,59 ST,NQR456,BMT,03/22/2016,08:00:00,REGULAR,5593699,1890463,"A002,R051,02-00-00,59 ST",527.0
21,A002,R051,02-00-00,59 ST,NQR456,BMT,03/22/2016,12:00:00,REGULAR,5593847,1890842,"A002,R051,02-00-00,59 ST",372.0
22,A002,R051,02-00-00,59 ST,NQR456,BMT,03/22/2016,16:00:00,REGULAR,5594144,1890917,"A002,R051,02-00-00,59 ST",517.0
23,A002,R051,02-00-00,59 ST,NQR456,BMT,03/22/2016,20:00:00,REGULAR,5594394,1891184,"A002,R051,02-00-00,59 ST",200.0
24,A002,R051,02-00-00,59 ST,NQR456,BMT,03/23/2016,00:00:00,REGULAR,5594566,1891212,"A002,R051,02-00-00,59 ST",1.0
25,A002,R051,02-00-00,59 ST,NQR456,BMT,03/23/2016,04:00:00,REGULAR,5594566,1891213,"A002,R051,02-00-00,59 ST",156.0
26,A002,R051,02-00-00,59 ST,NQR456,BMT,03/23/2016,08:00:00,REGULAR,5594605,1891330,"A002,R051,02-00-00,59 ST",462.0
27,A002,R051,02-00-00,59 ST,NQR456,BMT,03/23/2016,12:00:00,REGULAR,5594761,1891636,"A002,R051,02-00-00,59 ST",373.0
28,A002,R051,02-00-00,59 ST,NQR456,BMT,03/23/2016,16:00:00,REGULAR,5595056,1891714,"A002,R051,02-00-00,59 ST",531.0
29,A002,R051,02-00-00,59 ST,NQR456,BMT,03/23/2016,20:00:00,REGULAR,5595296,1892005,"A002,R051,02-00-00,59 ST",23.0
30,A002,R051,02-00-00,59 ST,NQR456,BMT,03/24/2016,00:00:00,REGULAR,5595296,1892028,"A002,R051,02-00-00,59 ST",0.0
31,A002,R051,02-00-00,59 ST,NQR456,BMT,03/24/2016,04:00:00,REGULAR,5595296,1892028,"A002,R051,02-00-00,59 ST",113.0
32,A002,R051,02-00-00,59 ST,NQR456,BMT,03/24/2016,08:00:00,REGULAR,5595296,1892141,"A002,R051,02-00-00,59 ST",194.0
33,A002,R051,02-00-00,59 ST,NQR456,BMT,03/24/2016,09:17:56,REGULAR,5595296,1892335,"A002,R051,02-00-00,59 ST",61.0
34,A002,R051,02-00-00,59 ST,NQR456,BMT,03/24/2016,09:57:56,REGULAR,5595296,1892396,"A002,R051,02-00-00,59 ST",82.0
35,A002,R051,02-00-00,59 ST,NQR456,BMT,03/24/2016,12:00:00,REGULAR,5595296,1892478,"A002,R051,02-00-00,59 ST",38.0
36,A002,R051,02-00-00,59 ST,NQR456,BMT,03/24/2016,16:00:00,REGULAR,5595296,1892516,"A002,R051,02-00-00,59 ST",326.0
37,A002,R051,02-00-00,59 ST,NQR456,BMT,03/24/2016,20:00:00,REGULAR,5595296,1892842,"A002,R051,02-00-00,59 ST",24.0
38,A002,R051,02-00-00,59 ST,NQR456,BMT,03/25/2016,00:00:00,REGULAR,5595296,1892866,"A002,R051,02-00-00,59 ST",0.0
39,A002,R051,02-00-00,59 ST,NQR456,BMT,03/25/2016,04:00:00,REGULAR,5595296,1892866,"A002,R051,02-00-00,59 ST",84.0
40,A002,R051,02-00-00,59 ST,NQR456,BMT,03/25/2016,08:00:00,REGULAR,5595321,1892925,"A002,R051,02-00-00,59 ST",303.0
41,A002,R051,02-00-00,59 ST,NQR456,BMT,03/25/2016,12:00:00,REGULAR,5595447,1893102,"A002,R051,02-00-00,59 ST",339.0
42,A002,R051,02-00-00,59 ST,NQR456,BMT,03/25/2016,16:00:00,REGULAR,5595710,1893178,"A002,R051,02-00-00,59 ST",106.0
43,A002,R051,02-00-00,59 ST,NQR456,BMT,03/25/2016,20:00:00,REGULAR,5595746,1893248,"A002,R051,02-00-00,59 ST",NaN
44,A002,R051,02-00-01,59 ST,NQR456,BMT,03/19/2016,00:00:00,REGULAR,5139484,1124350,"A002,R051,02-00-01,59 ST",32.0
45,A002,R051,02-00-01,59 ST,NQR456,BMT,03/19/2016,04:00:00,REGULAR,5139511,1124355,"A002,R051,02-00-01,59 ST",30.0
46,A002,R051,02-00-01,59 ST,NQR456,BMT,03/19/2016,08:00:00,REGULAR,5139528,1124368,"A002,R051,02-00-01,59 ST",139.0
47,A002,R051,02-00-01,59 ST,NQR456,BMT,03/19/2016,12:00:00,REGULAR,5139600,1124435,"A002,R051,02-00-01,59 ST",280.0
48,A002,R051,02-00-01,59 ST,NQR456,BMT,03/19/2016,16:00:00,REGULAR,5139816,1124499,"A002,R051,02-00-01,59 ST",326.0
49,A002,R051,02-00-01,59 ST,NQR456,BMT,03/19/2016,20:00:00,REGULAR,5140078,1124563,"A002,R051,02-00-01,59 ST",176.0

In [26]:
# df_night = data[[data['TIME'] == '00:00:00' & (data['Delta'] >= 0 | data['Delta'] <= 5000)]]
df_night = data[data['Delta'] >= 0 | data['Delta'] <= 5000]

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]

In [ ]:
df_night.head()

In [40]:
import gmaps

In [44]:
data = gmaps.datasets.load_dataset('taxi_rides')
map = gmaps.heatmap(data)
gmaps.display(map)