In [11]:
import gmaps
import pandas as pd
import numpy as np

In [22]:
# data = [ [ 37.782551,-122.445368 ],
#          [ 37.782745,-122.444586 ],
#          [ 37.782842,-122.443858 ] ]

# gmaps.heatmap(data)

In [3]:
# jitter to add density for heat map

In [2]:
def Jitter(values, jitter=0.000001):
    n = len(values)
    return np.random.uniform(-jitter, +jitter) + values

In [20]:
df_locations = pd.read_csv('NYC_Transit_Subway_Entrance_And_Exit_Data.csv')

In [22]:
df_locations = df_locations[['Station Name', 'Station Latitude', 'Station Longitude']]

In [23]:
df_locations.head()

  Station Name  Station Latitude  Station Longitude
0      25th St         40.660397         -73.998091
1      25th St         40.660397         -73.998091
2      36th St         40.655144         -74.003549
3      36th St         40.655144         -74.003549
4      36th St         40.655144         -74.003549

In [18]:
df_locations['Station Name'].value_counts()

34th St                                    41
23rd St                                    40
14th St                                    26
59th St                                    25
86th St                                    22
50th St                                    20
125th St                                   19
42nd St                                    18
47-50th Sts Rockefeller Center             17
Fulton St                                  17
Canal St                                   17
28th St                                    17
Chambers St                                16
Jamaica-179th St                           16
Yankee Stadium-161st St                    16
57th St                                    16
Church Av                                  15
Rector St                                  15
DeKalb Av                                  14
Wall St                                    14
7th Av                                     14
145th St                                   13
Jay St - Borough Hall                      13
96th St                                    13
116th St                                   12
103rd St                                   12
Utica Av                                   11
Bergen St                                  11
77th St                                    11
Parsons Blvd-Archer Av - Jamaica Center    10
                                           ..
88th St-Boyd Av                             2
Av X                                        2
Pennsylvania Av                             2
Montrose Av                                 2
Av P                                        2
Baychester Av                               2
Chauncey St                                 2
4th Av                                      2
Broadway Junction-East New York             1
9th Av                                      1
Cortelyou Rd                                1
Wilson Av                                   1
Grant Av                                    1
Bushwick Av                                 1
Rockaway Park-Beach 116th                   1
Roosevelt Island                            1
Broad Channel                               1
Smith-9th St                                1
Broadway-74th St                            1
Bedford Park Blvd-Lehman College            1
Far Rockaway-Mott Av                        1
Westchester Square-East Tremont Av          1
Aqueduct Racetrack                          1
Botanic Gardens                             1
York St                                     1
Morris Park                                 1
Harlem-148th St                             1
Eastchester-Dyre Av                         1
Parkchester-East 177th St                   1
Neck Rd                                     1
Name: Station Name, dtype: int64

In [31]:
df_locations_upper = df_locations['Station Name'].str.upper()

In [27]:
lat_long = df[['Station Latitude','Station Longitude']].values

In [28]:
lat_long

array([[ 40.660397, -73.998091],
       [ 40.660397, -73.998091],
       [ 40.655144, -74.003549],
       ...,
       [ 40.903125, -73.85062 ],
       [ 40.903125, -73.85062 ],
       [ 40.903125, -73.85062 ]])

In [29]:
gmaps.heatmap(lat_long)