In [1]:
import pandas as pd
from __future__ import division
import csv
from datetime import datetime
from collections import Counter

In [2]:
import matplotlib.pyplot as plt

import stuff

In [3]:
data = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160402.txt')

read data in + merge data

In [4]:
data.columns = data.columns.str.replace(' ','')

remove spaces from exits column

In [5]:
data["DATETIME"] = data["DATE"] + ' ' + data["TIME"]

In [6]:
data['DATETIME'] = pd.to_datetime(data.DATETIME, format='%m/%d/%Y %H:%M:%S')

create datetime and set format

In [7]:
data['HOUR'] = data.DATETIME.apply(lambda x: x.hour)

In [8]:
data['WEEKDAY']=data.DATETIME.apply(lambda x: 'Weekday' if 0<=x.weekday()<5 else 'Weekend')

#same as above in 2 steps
#weekdaycheck = lambda x: 'Weekday' if 0<=x.weekday()<5 else 'Weekend'
#data['WEEKDAY']=data.DATETIME.apply(weekdaycheck)

In [9]:
daysofweek = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

whatdayofweek = lambda x: daysofweek[x.weekday()]


data['DAYOFWEEK'] = data.DATETIME.apply(whatdayofweek)
#data['DAYOFWEEKVALUE'] = data.DATETIME.apply(dayofweekvalue)

create day of week by applying function to DATETIME

In [10]:
data['dENTRIES'] = data.ENTRIES.shift(-1) - data.ENTRIES
data['dEXITS'] = data.EXITS.shift(-1) - data.EXITS
data['dTOTAL'] = data.dENTRIES+ data.dEXITS

###for considering deltas as time(i+1)-time(i)

create deltas by shifting from one above

In [11]:
#data['dENTRIES'] = data.ENTRIES - data.ENTRIES.shift(1)
#data['dEXITS'] = data.EXITS - data.EXITS.shift(1)
#data['dTOTAL'] = data.dENTRIES+ data.dEXITS

###this is for considering deltas as time(i)-time(i-1)

In [12]:
datatest = data[(data.HOUR ==0)|(data.HOUR ==1)]
# same as mask

filter based on time we care about

In [13]:
datatest2 = datatest[(datatest.dENTRIES >= 0) & (datatest.dENTRIES <=5000) & (datatest.dEXITS >= 0) & (datatest.dEXITS <=5000)]
# mask2 = (datatest.dENTRIES >= 0) & (datatest.dENTRIES <=5000) & (datatest.dEXITS >= 0) & (datatest.dEXITS <=5000)

filter a second time based on change in deltas to account for switching machine/station etc.  
Lose out on 29835 - 29522 = 313 total entries  
313 is 1.05% of our data that we lose

In [14]:
final_weekday_or_end = datatest2.groupby([datatest2.WEEKDAY, datatest2.STATION]).sum()

In [15]:
weekend_or_day_final =  (final_weekday_or_end
    .reset_index()
    .sort_values(["WEEKDAY", "dTOTAL"], ascending=[True, False])
)

In [16]:
weekend_or_day_final = weekend_or_day_final.drop(['ENTRIES', 'EXITS', 'HOUR', 'dENTRIES', 'dEXITS'],1)

In [17]:
for r in range(weekend_or_day_final.shape[0]):
    if weekend_or_day_final.ix[r,'WEEKDAY'] =='Weekday':
        weekend_or_day_final.ix[r,'dTOTALACTUAL'] = weekend_or_day_final.ix[r, 'dTOTAL']/5
    else:
        weekend_or_day_final.ix[r,'dTOTALACTUAL'] = weekend_or_day_final.ix[r, 'dTOTAL']/2

In [18]:
weekend_or_day_final = weekend_or_day_final.drop(['dTOTAL'],1)

In [19]:
weekend_or_day_final.head()

     WEEKDAY          STATION  dTOTALACTUAL
345  Weekday   TIMES SQ-42 ST        3975.0
59   Weekday  34 ST-HERALD SQ        2582.4
251  Weekday  JKSN HT-ROOSVLT        2492.8
61   Weekday   34 ST-PENN STA        2447.4
9    Weekday           125 ST        2416.4
227  Weekday  GRD CNTRL-42 ST        2164.0
111  Weekday            96 ST        2130.6
14   Weekday   14 ST-UNION SQ        1863.6
46   Weekday            23 ST        1818.6
84   Weekday   59 ST COLUMBUS        1759.4
15   Weekday           145 ST        1745.8
13   Weekday            14 ST        1736.8
107  Weekday            86 ST        1718.6
76   Weekday            50 ST        1660.8
211  Weekday    FLUSHING-MAIN        1654.2
83   Weekday            59 ST        1630.6
246  Weekday   JAMAICA CENTER        1551.0
177  Weekday        CHURCH AV        1544.8
72   Weekday   47-50 STS ROCK        1341.6
143  Weekday       BEDFORD AV        1315.6
354  Weekday   W 4 ST-WASH SQ        1258.4
2    Weekday    103 ST-CORONA        1177.8
120  Weekday   ATL AV-BARCLAY        1177.6
340  Weekday   SUTPHIN-ARCHER        1163.2
68   Weekday  42 ST-PORT AUTH        1075.2
253  Weekday    JUNCTION BLVD        1069.8
0    Weekday             1 AV        1029.0
67   Weekday  42 ST-BRYANT PK        1024.6
190  Weekday  CROWN HTS-UTICA        1006.8
282  Weekday   MYRTLE-WYCKOFF         985.8
..       ...              ...           ...
507  Weekend      BEACH 44 ST          79.0
529  Weekend  BRONX PARK EAST          77.5
466  Weekend            75 AV          72.0
548  Weekend        CITY HALL          70.0
630  Weekend       LACKAWANNA          68.5
693  Weekend  ROCKAWAY PARK B          68.5
653  Weekend          NECK RD          67.0
510  Weekend      BEACH 90 ST          66.5
490  Weekend      ATLANTIC AV          63.0
418  Weekend           238 ST          58.0
561  Weekend    CYPRESS HILLS          55.5
723  Weekend  W 8 ST-AQUARIUM          53.0
566  Weekend  E 143/ST MARY'S          51.0
449  Weekend            55 ST          49.0
498  Weekend         AVENUE X          48.0
564  Weekend        DITMAS AV          47.0
641  Weekend  METS-WILLETS PT          45.0
503  Weekend    BAYCHESTER AV          44.5
500  Weekend        BAY 50 ST          42.0
646  Weekend      MORRIS PARK          42.0
511  Weekend      BEACH 98 ST          41.0
472  Weekend            80 ST          38.5
522  Weekend    BOWLING GREEN          37.0
492  Weekend         AVENUE I          35.5
654  Weekend       NEPTUNE AV          20.0
601  Weekend    HARLEM 148 ST          16.5
690  Weekend    RIT-ROOSEVELT          16.0
504  Weekend     BEACH 105 ST          15.5
525  Weekend    BROAD CHANNEL          13.0
661  Weekend         NEWARK C           0.0

[737 rows x 3 columns]

weekend_or_day_final is the FINAL dataframe for weekday vs weekend

In [21]:
finaldayofweek = datatest2.groupby([datatest2.DAYOFWEEK,datatest2.STATION]).sum()

In [22]:
day_of_week = finaldayofweek.reset_index()

In [23]:
whatdayindex = lambda x: daysofweek.index(x)

In [24]:
day_of_week['DAYOFWEEKVALUE'] = day_of_week.DAYOFWEEK.apply(whatdayindex)  


day_of_week_final = day_of_week.sort_values(['DAYOFWEEKVALUE','dTOTAL'], ascending = [True, False])
#data['HOUR'] = data.DATETIME.apply(lambda x: x.hour)

In [25]:
day_of_week_final = day_of_week_final.drop(['ENTRIES', 'EXITS', 'HOUR', 'dENTRIES', 'dEXITS', 'DAYOFWEEKVALUE'],1)

#df = df.drop('column_name', 1)

In [26]:
day_of_week_final.head()

    DAYOFWEEK          STATION  dTOTAL
713    Monday   TIMES SQ-42 ST    3943
377    Monday           125 ST    2314
429    Monday   34 ST-PENN STA    2184
619    Monday  JKSN HT-ROOSVLT    2111
383    Monday           145 ST    1841

day_of_week_final is FINAL dataframe for each day of week