In [319]:
import pandas as pd
from __future__ import division
import csv
from datetime import datetime
from collections import Counter
import numpy as np
%matplotlib inline

In [320]:
import matplotlib.pyplot as plt

import stuff

In [321]:
data = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160213.txt')

In [322]:
list_data =[]
list_weeks = ['160102', '160109', '160116','160123','160130','160206','160213',
             '160220','160227','160305','160312','160319','160326','160402']
# list_weeks = ['151205','150530']

for u in list_weeks:
    url = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_' + u + '.txt'
    print(url)
    list_data.append(pd.read_csv(url))

data = pd.concat(list_data)

http://web.mta.info/developers/data/nyct/turnstile/turnstile_160102.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160109.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160116.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160123.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160130.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160206.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160213.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160220.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160227.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160305.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160312.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160319.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160326.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160402.txt

read data in + merge data

In [329]:
data.columns = data.columns.str.replace(' ','')

remove spaces from exits column

In [330]:
def round_time(x):
    h = int(x[:2])
    m =
    x = x[:3] + '00:00'
    return(x)

In [377]:
round_time('05:55:55')

'05:00:00'

In [332]:
data.TIME = data.TIME.apply(round_time)

In [333]:
data["DATETIME"] = data["DATE"] + ' ' + data["TIME"]

In [334]:
data['DATETIME'] = pd.to_datetime(data.DATETIME, format='%m/%d/%Y %H:%M:%S')

In [335]:
data.shape

(2731091, 12)

In [336]:
data.TIME.unique()

array(['03:00:00', '07:00:00', '11:00:00', '15:00:00', '19:00:00',
       '23:00:00', '01:00:00', '05:00:00', '09:00:00', '13:00:00',
       '17:00:00', '21:00:00', '00:00:00', '04:00:00', '08:00:00',
       '12:00:00', '16:00:00', '20:00:00', '14:00:00', '02:00:00',
       '06:00:00', '10:00:00', '18:00:00', '22:00:00'], dtype=object)

In [337]:
tmp = data.groupby(['STATION', 'DATETIME']).sum()
#print(tmp.head(50))
tmp = tmp.reset_index().sort_values(['STATION', 'DATETIME'])
stations = tmp.STATION.unique()

tmp['dENTRIES'] = np.nan
tmp['dEXITS'] = np.nan
for station in stations:
    mask = tmp.STATION == station
    tmp.loc[mask, 'dENTRIES'] = tmp.loc[mask, 'ENTRIES'].shift(-1) - tmp.loc[mask, 'ENTRIES']
    tmp.loc[mask, 'dEXITS'] = tmp.loc[mask, 'EXITS'].shift(-1) - tmp.loc[mask, 'EXITS']
    #print(station)
tmp.shape

(268498, 6)

In [338]:
# tmp = tmp[(tmp.dENTRIES >= 0) & (tmp.dENTRIES <=5000) & (tmp.dEXITS >= 0) & (tmp.dEXITS <=5000)]
# # mask2 = (datatest.dENTRIES >= 0) & (datatest.dENTRIES <=5000) & (datatest.dEXITS >= 0) & (datatest.dEXITS <=5000)
# tmp.head()

create datetime and set format

In [339]:
#data['HOUR'] = data.DATETIME.apply(lambda x: x.hour)
tmp['HOUR'] = tmp.DATETIME.apply(lambda x: x.hour)

In [340]:
#data['WEEKDAY']=data.DATETIME.apply(lambda x: 'Weekday' if 0<=x.weekday()<5 else 'Weekend')

#same as above in 2 steps
#weekdaycheck = lambda x: 'Weekday' if 0<=x.weekday()<5 else 'Weekend'
#data['WEEKDAY']=data.DATETIME.apply(weekdaycheck)

In [341]:
daysofweek = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday', 'Monday']

#whatdayofweek = lambda x: daysofweek[x.weekday()]

def whatdayofweek(x):
    if x.hour > 21:
        return daysofweek[x.weekday() + 1]
    else:
        return daysofweek[x.weekday()]

#data['DAYOFWEEK'] = data.DATETIME.apply(whatdayofweek)
tmp['DAYOFWEEK'] = tmp.DATETIME.apply(whatdayofweek)



# for r in range(data.shape[0]):
#     if data.ix[r,'DAYOFWEEK'] == :
#         data.ix[r,'dTOTALACTUAL'] = groupedweekdayend.ix[r, 'dTOTAL']/(5*13)
#     else:
#         groupedweekdayend.ix[r,'dTOTALACTUAL'] = groupedweekdayend.ix[r, 'dTOTAL']/(2*13)
# #data['DAYOFWEEKVALUE'] = data.DATETIME.apply(dayofweekvalue)

In [351]:
def weekendorday(x):
    if x.hour>21:
        if (x.weekday() + 1 < 5) or (x.weekday() + 1) == 7 :
            return 'Weekday'
        else:
            return 'Weekend'
    else:
        if x.weekday() < 5:
            return 'Weekday'
        else:
            return 'Weekend'
        
#data['WEEKDAY'] = data.DATETIME.apply(weekendorday)
tmp['WEEKDAY'] = tmp.DATETIME.apply(weekendorday)

In [352]:
tmp.head(100)

,STATION,DATETIME,ENTRIES,EXITS,dENTRIES,dEXITS,HOUR,DAYOFWEEK,WEEKDAY,dTOTAL
0,1 AV,2015-12-26 03:00:00,1407672232,1469227713,177,416,3,Saturday,Weekend,593
1,1 AV,2015-12-26 07:00:00,1407672409,1469228129,1181,1656,7,Saturday,Weekend,2837
2,1 AV,2015-12-26 11:00:00,1407673590,1469229785,2421,2632,11,Saturday,Weekend,5053
3,1 AV,2015-12-26 15:00:00,1407676011,1469232417,2980,3808,15,Saturday,Weekend,6788
4,1 AV,2015-12-26 19:00:00,1407678991,1469236225,2414,3233,19,Saturday,Weekend,5647
5,1 AV,2015-12-26 23:00:00,1407681405,1469239458,1370,1161,23,Sunday,Weekend,2531
6,1 AV,2015-12-27 03:00:00,1407682775,1469240619,285,362,3,Sunday,Weekend,647
7,1 AV,2015-12-27 07:00:00,1407683060,1469240981,1278,1489,7,Sunday,Weekend,2767
8,1 AV,2015-12-27 11:00:00,1407684338,1469242470,2336,2715,11,Sunday,Weekend,5051
9,1 AV,2015-12-27 15:00:00,1407686674,1469245185,2892,3763,15,Sunday,Weekend,6655
10,1 AV,2015-12-27 19:00:00,1407689566,1469248948,2576,3040,19,Sunday,Weekend,5616
11,1 AV,2015-12-27 23:00:00,1407692142,1469251988,996,765,23,Monday,Weekday,1761
12,1 AV,2015-12-28 03:00:00,1407693138,1469252753,428,1182,3,Monday,Weekday,1610
13,1 AV,2015-12-28 07:00:00,1407693566,1469253935,-966397344,-1034926594,7,Monday,Weekday,-2001323938
14,1 AV,2015-12-28 08:00:00,441296222,434327341,966400724,1034931008,8,Monday,Weekday,2001331732
15,1 AV,2015-12-28 11:00:00,1407696946,1469258349,3439,3876,11,Monday,Weekday,7315
16,1 AV,2015-12-28 15:00:00,1407700385,1469262225,6022,5873,15,Monday,Weekday,11895
17,1 AV,2015-12-28 19:00:00,1407706407,1469268098,3505,4053,19,Monday,Weekday,7558
18,1 AV,2015-12-28 23:00:00,1407709912,1469272151,1223,890,23,Tuesday,Weekday,2113
19,1 AV,2015-12-29 03:00:00,1407711135,1469273041,413,1214,3,Tuesday,Weekday,1627
20,1 AV,2015-12-29 07:00:00,1407711548,1469274255,3777,4448,7,Tuesday,Weekday,8225
21,1 AV,2015-12-29 11:00:00,1407715325,1469278703,3805,3925,11,Tuesday,Weekday,7730
22,1 AV,2015-12-29 15:00:00,1407719130,1469282628,6062,6102,15,Tuesday,Weekday,12164
23,1 AV,2015-12-29 19:00:00,1407725192,1469288730,3902,4343,19,Tuesday,Weekday,8245
24,1 AV,2015-12-29 23:00:00,1407729094,1469293073,1687,1140,23,Wednesday,Weekday,2827
25,1 AV,2015-12-30 03:00:00,1407730781,1469294213,424,1256,3,Wednesday,Weekday,1680
26,1 AV,2015-12-30 07:00:00,1407731205,1469295469,3673,4486,7,Wednesday,Weekday,8159
27,1 AV,2015-12-30 11:00:00,1407734878,1469299955,4019,4295,11,Wednesday,Weekday,8314
28,1 AV,2015-12-30 15:00:00,1407738897,1469304250,6494,6648,15,Wednesday,Weekday,13142
29,1 AV,2015-12-30 19:00:00,1407745391,1469310898,4505,4968,19,Wednesday,Weekday,9473
...,...,...,...,...,...,...,...,...,...,...
70,1 AV,2016-01-06 15:00:00,1407873280,1469451147,7778,6410,15,Wednesday,Weekday,14188
71,1 AV,2016-01-06 19:00:00,1407881058,1469457557,4427,4969,19,Wednesday,Weekday,9396
72,1 AV,2016-01-06 23:00:00,1407885485,1469462526,1335,839,23,Thursday,Weekday,2174
73,1 AV,2016-01-07 03:00:00,1407886820,1469463365,651,1405,3,Thursday,Weekday,2056
74,1 AV,2016-01-07 07:00:00,1407887471,1469464770,6004,7243,7,Thursday,Weekday,13247
75,1 AV,2016-01-07 11:00:00,1407893475,1469472013,3507,3639,11,Thursday,Weekday,7146
76,1 AV,2016-01-07 15:00:00,1407896982,1469475652,7685,6681,15,Thursday,Weekday,14366
77,1 AV,2016-01-07 19:00:00,1407904667,1469482333,4657,4852,19,Thursday,Weekday,9509
78,1 AV,2016-01-07 23:00:00,1407909324,1469487185,1511,918,23,Friday,Weekday,2429
79,1 AV,2016-01-08 03:00:00,1407910835,1469488103,630,1404,3,Friday,Weekday,2034
80,1 AV,2016-01-08 07:00:00,1407911465,1469489507,5790,7051,7,Friday,Weekday,12841
81,1 AV,2016-01-08 11:00:00,1407917255,1469496558,3973,3994,11,Friday,Weekday,7967
82,1 AV,2016-01-08 15:00:00,1407921228,1469500552,7535,6847,15,Friday,Weekday,14382
83,1 AV,2016-01-08 19:00:00,1407928763,1469507399,5555,6170,19,Friday,Weekday,11725
84,1 AV,2016-01-08 23:00:00,1407934318,1469513569,2995,1958,23,Saturday,Weekend,4953
85,1 AV,2016-01-09 03:00:00,1407937313,1469515527,530,718,3,Saturday,Weekend,1248
86,1 AV,2016-01-09 07:00:00,1407937843,1469516245,1853,2535,7,Saturday,Weekend,4388
87,1 AV,2016-01-09 11:00:00,1407939696,1469518780,4044,4128,11,Saturday,Weekend,8172
88,1 AV,2016-01-09 15:00:00,1407943740,1469522908,5184,6212,15,Saturday,Weekend,11396
89,1 AV,2016-01-09 19:00:00,1407948924,1469529120,4778,5936,19,Saturday,Weekend,10714
90,1 AV,2016-01-09 23:00:00,1407953702,1469535056,3210,2228,23,Sunday,Weekend,5438
91,1 AV,2016-01-10 03:00:00,1407956912,1469537284,504,507,3,Sunday,Weekend,1011
92,1 AV,2016-01-10 07:00:00,1407957416,1469537791,1315,1625,7,Sunday,Weekend,2940
93,1 AV,2016-01-10 11:00:00,1407958731,1469539416,3355,3604,11,Sunday,Weekend,6959
94,1 AV,2016-01-10 15:00:00,1407962086,1469543020,2712,3209,15,Sunday,Weekend,5921
95,1 AV,2016-01-10 19:00:00,1407964798,1469546229,2910,2761,19,Sunday,Weekend,5671
96,1 AV,2016-01-10 23:00:00,1407967708,1469548990,901,635,23,Monday,Weekday,1536
97,1 AV,2016-01-11 03:00:00,1407968609,1469549625,692,1251,3,Monday,Weekday,1943
98,1 AV,2016-01-11 07:00:00,1407969301,1469550876,6086,7283,7,Monday,Weekday,13369
99,1 AV,2016-01-11 11:00:00,1407975387,1469558159,3939,3935,11,Monday,Weekday,7874

create day of week by applying function to DATETIME

In [299]:
# data['dENTRIES'] = data.ENTRIES.shift(-1) - data.ENTRIES
# data['dEXITS'] = data.EXITS.shift(-1) - data.EXITS

###for considering deltas as time(i+1)-time(i)

create deltas by shifting from one above

In [300]:
#data['dENTRIES'] = data.ENTRIES - data.ENTRIES.shift(1)
#data['dEXITS'] = data.EXITS - data.EXITS.shift(1)
#data['dTOTAL'] = data.dENTRIES+ data.dEXITS

###this is for considering deltas as time(i)-time(i-1)

In [301]:
#data.columns

In [347]:
tmp['dTOTAL'] = tmp.dENTRIES + tmp.dEXITS
tmp[tmp.dTOTAL.isnull()].shape

(373, 10)

In [353]:
#data.dENTRIES.fillna(0, inplace = True)
tmp.dENTRIES.fillna(0, inplace = True)
tmp.shape

(268498, 10)

In [354]:
tmp.dEXITS.fillna(0, inplace = True)
tmp.shape

(268498, 10)

In [355]:
tmp.dTOTAL.fillna(0, inplace = True)
tmp.shape

(268498, 10)

In [356]:
tmp.dTOTAL.describe()

count    2.684980e+05
mean     2.492414e+04
std      1.353074e+09
min     -5.485098e+10
25%      2.610000e+02
50%      1.360000e+03
75%      5.360750e+03
max      6.926831e+10
Name: dTOTAL, dtype: float64

In [357]:
 datatest = tmp[(tmp.HOUR ==0)|(tmp.HOUR ==1)|(tmp.HOUR==22)|(tmp.HOUR==23)]
# same as mask

In [358]:
datatest.shape

(44064, 10)

filter based on time we care about

In [368]:
datatest2 = datatest[(datatest.dENTRIES >= 0) & (datatest.dENTRIES <=40000) & (datatest.dEXITS >= 0) & (datatest.dEXITS <=40000)]
# mask2 = (datatest.dENTRIES >= 0) & (datatest.dENTRIES <=5000) & (datatest.dEXITS >= 0) & (datatest.dEXITS <=5000)

In [369]:
datatest2.shape

(30759, 10)

filter a second time based on change in deltas to account for switching machine/station etc.  
Lose out on 411197 - 407288 = 3909 total entries  
3909 is 0.95% of our data that we lose

In [370]:
weekdayend = datatest2.groupby([datatest2.WEEKDAY, datatest2.STATION]).sum()
#final_weekday_or_end = datatest2.groupby([datatest2.STATION]).sum()

In [371]:
groupedweekdayend = (weekdayend
    .reset_index()
    .sort_values(['WEEKDAY','dTOTAL'], ascending=(True,False))
)

In [372]:
for r in range(groupedweekdayend.shape[0]):
    if groupedweekdayend.ix[r,'WEEKDAY'] =='Weekday':
        groupedweekdayend.ix[r,'dTOTALACTUAL'] = groupedweekdayend.ix[r, 'dTOTAL']/(5*13)
    else:
        groupedweekdayend.ix[r,'dTOTALACTUAL'] = groupedweekdayend.ix[r, 'dTOTAL']/(2*13)

In [373]:
groupedweekdayend

,WEEKDAY,STATION,ENTRIES,EXITS,dENTRIES,dEXITS,HOUR,dTOTAL,dTOTALACTUAL
306,Weekday,TIMES SQ-42 ST,394295207446,310823146700,314276,101761,1242,416037,6400.569231
51,Weekday,34 ST-HERALD SQ,198797759413,212909754631,197016,90304,1242,287320,4420.307692
222,Weekday,JKSN HT-ROOSVLT,8555660112,6377080974,69050,171346,1219,240396,3698.400000
76,Weekday,59 ST COLUMBUS,241426852578,220079235898,173822,44552,1196,218374,3359.600000
75,Weekday,59 ST,89747367927,65540066123,149038,66545,1265,215583,3316.661538
68,Weekday,50 ST,9859795471,8788545646,150464,54858,1219,205322,3158.800000
188,Weekday,FLUSHING-MAIN,12708877530,12726831799,59468,142073,1265,201541,3100.630769
12,Weekday,14 ST-UNION SQ,91038882611,33983482418,145155,52396,15,197551,3039.246154
13,Weekday,145 ST,102755782962,145196344182,48704,145365,1265,194069,2985.676923
130,Weekday,BEDFORD AV,71105030002,103846378782,77236,79608,1242,156844,2412.984615
217,Weekday,JAMAICA CENTER,88268551908,4587424958,36502,113855,1196,150357,2313.184615
107,Weekday,ATL AV-BARCLAY,38316499635,51073914950,94202,54642,1242,148844,2289.907692
62,Weekday,47-50 STS ROCK,21337087323,13047199006,117606,24607,1265,142213,2187.892308
315,Weekday,W 4 ST-WASH SQ,55443123430,61817544110,104102,35853,14,139955,2153.153846
0,Weekday,1 AV,101564026810,159571793087,82034,50962,1242,132996,2046.092308
157,Weekday,CHAMBERS ST,294753493491,293669775242,86792,30198,1219,116990,1799.846154
2,Weekday,103 ST-CORONA,4326263089,4152772779,16302,96689,1265,112991,1738.323077
223,Weekday,JUNCTION BLVD,3336264747,4106297676,18585,91958,1265,110543,1700.661538
169,Weekday,CROWN HTS-UTICA,14306570522,5372614135,26204,79215,1242,105419,1621.830769
63,Weekday,49 ST,14045037676,98217416812,79555,23972,1242,103527,1592.723077
33,Weekday,2 AV,3471867836,4141429085,71139,31593,1265,102732,1580.492308
58,Weekday,42 ST-BRYANT PK,136079497013,99521027080,78256,23923,1265,102179,1571.984615
90,Weekday,8 AV,13897768090,6424022012,67946,29854,15,97800,1504.615385
232,Weekday,LEXINGTON AV/53,105328382784,220707797288,68584,29047,1219,97631,1502.015385
173,Weekday,DELANCEY/ESSEX,119797733463,77807095592,50702,44866,15,95568,1470.276923
251,Weekday,MYRTLE-WYCKOFF,117528512609,40249952548,22589,72848,1265,95437,1468.261538
267,Weekday,NOSTRAND AV,5198428516,4706740102,27204,66893,1265,94097,1447.646154
221,Weekday,JFK JAMAICA CT1,24418234,24797058,47326,45057,105,92383,1421.276923
94,Weekday,82 ST-JACKSON H,1557728358,1023600641,16969,73734,1265,90703,1395.430769
20,Weekday,167 ST,25535284431,12908057485,24444,64734,1265,89178,1371.969231
...,...,...,...,...,...,...,...,...,...
657,Weekend,W 8 ST-AQUARIUM,293083781,322010592,453,793,529,1246,47.923077
438,Weekend,AVENUE I,211543935,27116952611,585,612,4,1197,46.038462
420,Weekend,80 ST,3524712007,179242680,582,529,4,1111,42.730769
457,Weekend,BEACH 98 ST,121827704,132886211,191,823,4,1014,39.000000
436,Weekend,ATLANTIC AV,45872149,19224189,527,392,529,919,35.346154
588,Weekend,NEPTUNE AV,181631958,72370116,259,392,4,651,25.038462
647,Weekend,TOMPKINSVILLE,250518696,70034689,486,0,134,486,18.692308
450,Weekend,BEACH 105 ST,3320007760,44625471,72,389,4,461,17.730769
469,Weekend,BROAD CHANNEL,49450581,16992784,189,138,4,327,12.576923
341,Weekend,14TH STREET,177229,171365,0,0,23,0,0.000000
379,Weekend,34 ST-PENN STA,1884263904,1220968007,0,0,22,0,0.000000
386,Weekend,42 ST-PORT AUTH,325401759,104326900,0,0,22,0,0.000000
427,Weekend,9TH STREET,1673124,1573225,0,0,23,0,0.000000
487,Weekend,CHRISTOPHER ST,690037,793204,0,0,23,0,0.000000
488,Weekend,CITY / BUS,4873097,4398527,0,0,23,0,0.000000
515,Weekend,EXCHANGE PLACE,1226440,1821918,0,0,23,0,0.000000
527,Weekend,FULTON ST,3340673861,2140390938,0,0,23,0,0.000000
535,Weekend,GROVE STREET,1243327,1760560,0,0,23,0,0.000000
537,Weekend,HARRISON,1742879,4720037,0,0,23,0,0.000000
556,Weekend,JOURNAL SQUARE,1557413,1323986,0,0,23,0,0.000000
594,Weekend,NEWARK BM BW,4502617,237893,0,0,23,0,0.000000
595,Weekend,NEWARK C,2346200,290339,0,0,23,0,0.000000
596,Weekend,NEWARK HM HE,255073,8478278,0,0,23,0,0.000000
597,Weekend,NEWARK HW BMEBE,1191929,2401330,0,0,23,0,0.000000
609,Weekend,PATH WTC,13420168,13717745,0,0,23,0,0.000000
611,Weekend,PAVONIA/NEWPORT,3872349,5343844,0,0,23,0,0.000000
644,Weekend,THIRTY ST,2074791,2090977,0,0,23,0,0.000000
645,Weekend,THIRTY THIRD ST,3094912,3190318,0,0,23,0,0.000000
649,Weekend,TWENTY THIRD ST,90053,1469709,0,0,23,0,0.000000
659,Weekend,WALL ST,534480524,278863947,0,0,22,0,0.000000

In [374]:
testweekend = groupedweekdayend[(groupedweekdayend.WEEKDAY == 'Weekend')]

In [375]:
testweekend.head(10)

,WEEKDAY,STATION,ENTRIES,EXITS,dENTRIES,dEXITS,HOUR,dTOTAL,dTOTALACTUAL
646,Weekend,TIMES SQ-42 ST,154331402595,121622877804,216156,71260,529,287416,11054.461538
377,Weekend,34 ST-HERALD SQ,77832987637,83360207135,121159,65632,529,186791,7184.269231
338,Weekend,14 ST-UNION SQ,34625465364,12997564359,117115,39502,4,156617,6023.730769
458,Weekend,BEDFORD AV,27994558919,40619037706,72218,71691,529,143909,5534.961538
396,Weekend,50 ST,3911251419,3486871110,94125,41783,529,135908,5227.230769
656,Weekend,W 4 ST-WASH SQ,22501763584,25091798395,93655,29774,4,123429,4747.269231
555,Weekend,JKSN HT-ROOSVLT,3145146176,2344218201,34458,82244,483,116702,4488.538462
328,Weekend,1 AV,39538590286,59738839439,69151,44499,529,113650,4371.153846
404,Weekend,59 ST COLUMBUS,90174471864,82881891667,85417,26905,483,112322,4320.076923
403,Weekend,59 ST,33816506636,24695340077,74440,36104,506,110544,4251.692308

In [378]:
dayofweek = datatest2.groupby([datatest2.DAYOFWEEK, datatest2.STATION]).sum()

In [379]:
groupeddayofweek = (dayofweek
    .reset_index()
    .sort_values(['DAYOFWEEK','dTOTAL'], ascending=(False,False))
)

In [380]:
groupeddayofweek.head()

,DAYOFWEEK,STATION,ENTRIES,EXITS,dENTRIES,dEXITS,HOUR,dTOTAL
2259,Wednesday,TIMES SQ-42 ST,80025368719,63065275706,63804,18452,253,82256
2006,Wednesday,34 ST-HERALD SQ,39974363808,42836198347,39956,16799,253,56755
2177,Wednesday,JKSN HT-ROOSVLT,1635299401,1218903655,12862,32109,230,44971
2030,Wednesday,59 ST,16906737358,12346505809,29966,12254,253,42220
2031,Wednesday,59 ST COLUMBUS,47059930423,42789140292,33507,8073,230,41580

In [381]:
whatdayindex = lambda x: daysofweek.index(x)

In [382]:
groupeddayofweek['DAYOFWEEKVALUE'] = groupeddayofweek.DAYOFWEEK.apply(whatdayindex)

In [383]:
groupeddayofweek = groupeddayofweek.sort_values(['DAYOFWEEKVALUE','dTOTAL'], ascending = [True, False])

In [384]:
groupeddayofweek.dTOTAL = groupeddayofweek.dTOTAL/13

In [385]:
testsunday = groupeddayofweek[(groupeddayofweek.DAYOFWEEK == 'Sunday')]

testmonday = groupeddayofweek[(groupeddayofweek.DAYOFWEEK == 'Monday')]

testsaturday = groupeddayofweek[(groupeddayofweek.DAYOFWEEK == 'Saturday')]

testtuesday = groupeddayofweek[(groupeddayofweek.DAYOFWEEK == 'Tuesday')]

testwed = groupeddayofweek[(groupeddayofweek.DAYOFWEEK == 'Wednesday')]

testfriday=groupeddayofweek[(groupeddayofweek.DAYOFWEEK == 'Friday')]

In [386]:
testsunday.head()

,DAYOFWEEK,STATION,ENTRIES,EXITS,dENTRIES,dEXITS,HOUR,dTOTAL,DAYOFWEEKVALUE
1286,Sunday,TIMES SQ-42 ST,80022266822,63062391447,110932,37986,276,11455.230769,6
1035,Sunday,34 ST-HERALD SQ,39972259855,42850717748,58724,33469,276,7091.769231,6
1113,Sunday,BEDFORD AV,14514927862,21057696300,38519,36573,276,5776.307692,6
997,Sunday,14 ST-UNION SQ,16017665508,5998038440,53317,19233,2,5580.769231,6
1052,Sunday,50 ST,2026859354,1807224020,46302,21563,276,5220.384615,6

In [387]:
testmonday.head()

,DAYOFWEEK,STATION,ENTRIES,EXITS,dENTRIES,dEXITS,HOUR,dTOTAL,DAYOFWEEKVALUE
623,Monday,TIMES SQ-42 ST,80022962535,63063043782,53271,17383,253,5434.923077,0
542,Monday,JKSN HT-ROOSVLT,1760739118,1312391100,14300,28733,253,3310.230769,0
372,Monday,34 ST-HERALD SQ,36820060307,39502534180,26477,13404,230,3067.769231,0
335,Monday,145 ST,20612644090,29100185140,9525,25061,253,2660.461538,0
396,Monday,59 ST,18207987256,13296758292,22099,12210,253,2639.153846,0

In [388]:
testsaturday.head()

,DAYOFWEEK,STATION,ENTRIES,EXITS,dENTRIES,dEXITS,HOUR,dTOTAL,DAYOFWEEKVALUE
963,Saturday,TIMES SQ-42 ST,74309135773,58560486357,105224,33274,253,10653.692308,5
694,Saturday,34 ST-HERALD SQ,37860727782,40509489387,62435,32163,253,7276.769231,5
655,Saturday,14 ST-UNION SQ,18607799856,6999525919,63798,20269,2,6466.692308,5
775,Saturday,BEDFORD AV,13479631057,19561341406,33699,35118,253,5293.615385,5
713,Saturday,50 ST,1884392065,1679647090,47823,20220,253,5234.076923,5

In [389]:
testtuesday.head()

,DAYOFWEEK,STATION,ENTRIES,EXITS,dENTRIES,dEXITS,HOUR,dTOTAL,DAYOFWEEKVALUE
1934,Tuesday,TIMES SQ-42 ST,74309995497,58561312155,51314,16776,230,5237.692308,1
1682,Tuesday,34 ST-HERALD SQ,39974050665,42852436181,34883,15400,253,3867.923077,1
1852,Tuesday,JKSN HT-ROOSVLT,1635279123,1218872252,12600,30180,230,3290.769231,1
1706,Tuesday,59 ST,18209004334,13297528663,27375,11604,253,2998.384615,1
1819,Tuesday,FLUSHING-MAIN,2577701889,2581680891,11253,27060,253,2947.153846,1

In [390]:
testfriday.head()

,DAYOFWEEK,STATION,ENTRIES,EXITS,dENTRIES,dEXITS,HOUR,dTOTAL,DAYOFWEEKVALUE
302,Friday,TIMES SQ-42 ST,80027965767,63067727415,75408,28535,253,7995.615385,4
51,Friday,34 ST-HERALD SQ,41015457355,43860071278,52302,25804,253,6008.153846,4
76,Friday,59 ST COLUMBUS,49914766807,45195953796,49911,13217,253,4856.000000,4
68,Friday,50 ST,2030804430,1810001505,43929,14974,253,4531.000000,4
12,Friday,14 ST-UNION SQ,17431563517,6498842632,41748,17106,3,4527.230769,4