In [1]:
import pandas as pd
from __future__ import division
import csv
from datetime import datetime
from collections import Counter

In [2]:
import matplotlib.pyplot as plt

import stuff

In [ ]:
data = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160213.txt')

In [3]:
list_data =[]
list_weeks = ['160102', '160109', '160116','160130','160206','160213',
             '160220','160227','160305','160312','160319','160326','160402']
# list_weeks = ['151205','150530']

for u in list_weeks:
    url = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_' + u + '.txt'
    print(url)
    list_data.append(pd.read_csv(url))

data = pd.concat(list_data)

http://web.mta.info/developers/data/nyct/turnstile/turnstile_160102.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160109.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160116.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160130.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160206.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160213.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160220.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160227.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160305.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160312.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160319.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160326.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_160402.txt

read data in + merge data

In [4]:
data.columns = data.columns.str.replace(' ','')

remove spaces from exits column

In [5]:
data["DATETIME"] = data["DATE"] + ' ' + data["TIME"]

In [6]:
data['DATETIME'] = pd.to_datetime(data.DATETIME, format='%m/%d/%Y %H:%M:%S')

In [ ]:
data.head()

create datetime and set format

In [7]:
data['HOUR'] = data.DATETIME.apply(lambda x: x.hour)

In [ ]:
#data['WEEKDAY']=data.DATETIME.apply(lambda x: 'Weekday' if 0<=x.weekday()<5 else 'Weekend')

#same as above in 2 steps
#weekdaycheck = lambda x: 'Weekday' if 0<=x.weekday()<5 else 'Weekend'
#data['WEEKDAY']=data.DATETIME.apply(weekdaycheck)

In [8]:
daysofweek = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday', 'Monday']

#whatdayofweek = lambda x: daysofweek[x.weekday()]

def whatdayofweek(x):
    if x.hour>21:
        return daysofweek[x.weekday()+1]
    else:
        return daysofweek[x.weekday()]

data['DAYOFWEEK'] = data.DATETIME.apply(whatdayofweek)



# for r in range(data.shape[0]):
#     if data.ix[r,'DAYOFWEEK'] == :
#         data.ix[r,'dTOTALACTUAL'] = groupedweekdayend.ix[r, 'dTOTAL']/(5*13)
#     else:
#         groupedweekdayend.ix[r,'dTOTALACTUAL'] = groupedweekdayend.ix[r, 'dTOTAL']/(2*13)
# #data['DAYOFWEEKVALUE'] = data.DATETIME.apply(dayofweekvalue)

In [9]:
def weekendorday(x):
    if x.hour>21:
        if x.weekday()+1<5 or (x.weekday()+1)==7 :
            return 'Weekday'
        else:
            return 'Weekend'
    else:
        if x.weekday()<5:
            return 'Weekday'
        else:
            return 'Weekend'
        
data['WEEKDAY']=data.DATETIME.apply(weekendorday)

In [ ]:
data.head(100)

create day of week by applying function to DATETIME

In [10]:
data['dENTRIES'] = data.ENTRIES.shift(-1) - data.ENTRIES
data['dEXITS'] = data.EXITS.shift(-1) - data.EXITS

###for considering deltas as time(i+1)-time(i)

create deltas by shifting from one above

In [ ]:
#data['dENTRIES'] = data.ENTRIES - data.ENTRIES.shift(1)
#data['dEXITS'] = data.EXITS - data.EXITS.shift(1)
#data['dTOTAL'] = data.dENTRIES+ data.dEXITS

###this is for considering deltas as time(i)-time(i-1)

In [ ]:
data.columns

In [11]:
data.dENTRIES.fillna(0, inplace = True)

In [12]:
data.dEXITS.fillna(0, inplace = True)

In [22]:
data['dTOTAL'] = data.dENTRIES+ data.dEXITS

In [ ]:
data[data.dTOTAL.isnull()].shape

In [23]:
datatest = data[(data.HOUR ==0)|(data.HOUR ==1)|(data.HOUR==22)|(data.HOUR==23)]
# same as mask

In [ ]:
datatest.shape

filter based on time we care about

In [43]:
datatest2 = datatest[(datatest.dENTRIES >= 0) & (datatest.dENTRIES <=5000) & (datatest.dEXITS >= 0) & (datatest.dEXITS <=5000)]
# mask2 = (datatest.dENTRIES >= 0) & (datatest.dENTRIES <=5000) & (datatest.dEXITS >= 0) & (datatest.dEXITS <=5000)

In [25]:
datatest2.shape

(381110, 18)

filter a second time based on change in deltas to account for switching machine/station etc.  
Lose out on 411197 - 407288 = 3909 total entries  
3909 is 0.95% of our data that we lose

In [44]:
weekdayend = datatest2.groupby([datatest2.WEEKDAY, datatest2.STATION]).sum()
#final_weekday_or_end = datatest2.groupby([datatest2.STATION]).sum()

In [45]:
groupedweekdayend = (weekdayend
    .reset_index()
    .sort_values(['WEEKDAY','dTOTAL'], ascending=(True,False))
)

In [46]:
for r in range(groupedweekdayend.shape[0]):
    if groupedweekdayend.ix[r,'WEEKDAY'] =='Weekday':
        groupedweekdayend.ix[r,'dTOTALACTUAL'] = groupedweekdayend.ix[r, 'dTOTAL']/(5*13)
    else:
        groupedweekdayend.ix[r,'dTOTALACTUAL'] = groupedweekdayend.ix[r, 'dTOTAL']/(2*13)

In [47]:
groupedweekdayend

,WEEKDAY,STATION,ENTRIES,EXITS,HOUR,dENTRIES,dEXITS,dTOTAL,dTOTALACTUAL
348,Weekday,TIMES SQ-42 ST,248297993188,200061728110,56350,301336,94767,396103,6093.892308
61,Weekday,34 ST-PENN STA,283199806601,135403657282,98370,242114,150509,392623,6040.353846
68,Weekday,42 ST-PORT AUTH,248464102912,171570532622,39460,204249,117019,321268,4942.584615
59,Weekday,34 ST-HERALD SQ,88061961518,69417895750,60927,199947,82820,282767,4350.261538
9,Weekday,125 ST,42696477765,34123836158,24410,104701,132874,237575,3655.000000
229,Weekday,GRD CNTRL-42 ST,272324104096,96017326785,30633,159298,76394,235692,3626.030769
253,Weekday,JKSN HT-ROOSVLT,8167632094,6087019758,25162,66619,164060,230679,3548.907692
109,Weekday,86 ST,91169547144,41536111647,40490,123065,101102,224167,3448.723077
46,Weekday,23 ST,267718211941,233544879122,44165,163507,52367,215874,3321.138462
86,Weekday,59 ST COLUMBUS,230205626112,204127310176,46736,168131,44034,212165,3264.076923
85,Weekday,59 ST,16905017335,13778571176,57500,137560,64601,202161,3110.169231
78,Weekday,50 ST,9400545139,8382644496,41216,145044,52727,197771,3042.630769
14,Weekday,14 ST-UNION SQ,87168398335,32491281666,570,139343,51257,190600,2932.307692
213,Weekday,FLUSHING-MAIN,11973675136,11992462959,30935,55576,132440,188016,2892.553846
13,Weekday,14 ST,38165864153,12598176932,36950,133044,50779,183823,2828.046154
15,Weekday,145 ST,95386182689,134795933627,20884,44904,133936,178840,2751.384615
222,Weekday,FULTON ST,258324798588,267531597502,65146,87372,64246,151618,2332.584615
145,Weekday,BEDFORD AV,12565970950,5574982882,13777,76125,67478,143603,2209.276923
122,Weekday,ATL AV-BARCLAY,32381789570,41515514313,55154,83932,51281,135213,2080.200000
72,Weekday,47-50 STS ROCK,19723409978,12117890423,41331,108615,22704,131319,2020.292308
358,Weekday,W 4 ST-WASH SQ,51527184030,57431162342,278,97174,33343,130517,2007.953846
179,Weekday,CHURCH AV,21586696852,9291302173,32266,31259,99192,130451,2006.938462
248,Weekday,JAMAICA CENTER,7017897489,4312931190,22333,35843,93760,129603,1993.892308
0,Weekday,1 AV,91550708540,95312213636,11178,76048,50990,127038,1954.430769
113,Weekday,96 ST,51637309787,93427288275,9635,53943,69686,123629,1901.984615
176,Weekday,CHAMBERS ST,229638074693,162084054611,60927,83161,32415,115576,1778.092308
343,Weekday,SUTPHIN-ARCHER,9705873838,4889387090,15967,48405,66487,114892,1767.569231
2,Weekday,103 ST-CORONA,4019345741,3857724599,10350,15173,89323,104496,1607.630769
255,Weekday,JUNCTION BLVD,3098455021,3814013431,13800,17345,84965,102310,1574.000000
266,Weekday,LEXINGTON AV/53,81766489821,116872861873,35696,70079,29719,99798,1535.353846
...,...,...,...,...,...,...,...,...,...
516,Weekend,BEACH 90 ST,133119929,142204728,20,328,1411,1739,66.884615
653,Weekend,MORRIS PARK,170438171,98132798,12,183,1524,1707,65.653846
512,Weekend,BEACH 36 ST,59316834,58416717,1265,300,1397,1697,65.269231
677,Weekend,OCEAN PKWY,1972428406,160464766,1771,727,920,1647,63.346154
422,Weekend,238 ST,496508913,22812548,12,1433,178,1611,61.961538
570,Weekend,DITMAS AV,186918640,164427048,32,432,1178,1610,61.923077
648,Weekend,METS-WILLETS PT,1245121658,291979925,143,615,995,1610,61.923077
701,Weekend,ROCKAWAY PARK B,2732539437,282165172,20,334,1111,1445,55.576923
416,Weekend,215 ST,133626683,2555079999,1012,825,567,1392,53.538462
660,Weekend,NECK RD,1661357176,17940350,1771,643,695,1338,51.461538
509,Weekend,BAYCHESTER AV,345319187,31480246,12,772,537,1309,50.346154
572,Weekend,E 143/ST MARY'S,120131355,134214645,24,390,876,1266,48.692308
500,Weekend,AVENUE M,1749618947,114178855,2530,654,560,1214,46.692308
698,Weekend,RIT-ROOSEVELT,190459551,11578248,24,1070,124,1194,45.923077
498,Weekend,AVENUE I,193003264,221225869,12,362,798,1160,44.615385
506,Weekend,BAY 50 ST,249132832,214389178,12,596,538,1134,43.615385
513,Weekend,BEACH 44 ST,36853348,47781381,1265,200,918,1118,43.000000
472,Weekend,75 AV,1652570728,18620439,2024,848,261,1109,42.653846
455,Weekend,55 ST,156971852,121458686,759,487,578,1065,40.961538
478,Weekend,80 ST,3394083557,172549916,28,529,493,1022,39.307692
567,Weekend,CYPRESS HILLS,85162967,49972741,759,318,625,943,36.269231
517,Weekend,BEACH 98 ST,113145139,123413472,20,178,760,938,36.076923
504,Weekend,AVENUE X,175630681,164489133,759,503,357,860,33.076923
732,Weekend,W 8 ST-AQUARIUM,162974452,178995774,2024,216,418,634,24.384615
661,Weekend,NEPTUNE AV,168731200,67222910,12,242,356,598,23.000000
496,Weekend,ATLANTIC AV,25573234,10716300,759,330,225,555,21.346154
510,Weekend,BEACH 105 ST,3082874084,41449684,20,64,354,418,16.076923
722,Weekend,TOMPKINSVILLE,207275953,57959728,528,403,0,403,15.500000
531,Weekend,BROAD CHANNEL,45930552,15782730,12,172,131,303,11.653846
668,Weekend,NEWARK C,40651186,4367787,2822,6,110,116,4.461538

In [48]:
testweekend = groupedweekdayend[(groupedweekdayend.WEEKDAY == 'Weekend')]

In [60]:
testweekend.head(10)

,WEEKDAY,STATION,ENTRIES,EXITS,HOUR,dENTRIES,dEXITS,dTOTAL,dTOTALACTUAL
721,Weekend,TIMES SQ-42 ST,57329716411,46171042394,12397,116772,38472,155244,5970.923077
387,Weekend,14 ST-UNION SQ,34631837602,13003137167,152,114553,39337,153890,5918.846154
441,Weekend,42 ST-PORT AUTH,61736254246,41678094932,8359,86569,39677,126246,4855.615385
434,Weekend,34 ST-PENN STA,82391163806,42217688221,21370,74645,50639,125284,4818.615385
731,Weekend,W 4 ST-WASH SQ,20895976200,23300734723,76,85393,27217,112610,4331.153846
432,Weekend,34 ST-HERALD SQ,20804003043,16485747670,13409,65899,32853,98752,3798.153846
382,Weekend,125 ST,11270630524,9023798758,5393,43334,51654,94988,3653.384615
482,Weekend,86 ST,22155410923,10825844356,8919,46841,44418,91259,3509.961538
419,Weekend,23 ST,84436307464,72571479888,9807,62077,27320,89397,3438.346154
386,Weekend,14 ST,11763536540,3487360718,8136,58210,26617,84827,3262.576923

In [32]:
dayofweek = datatest2.groupby([datatest2.DAYOFWEEK, datatest2.STATION]).sum()

In [33]:
groupeddayofweek = (dayofweek
    .reset_index()
    .sort_values(['DAYOFWEEK','dTOTAL'], ascending=(False,False))
)

In [34]:
groupeddayofweek.head()

,DAYOFWEEK,STATION,ENTRIES,EXITS,HOUR,dENTRIES,dEXITS,dTOTAL
2586,Wednesday,TIMES SQ-42 ST,49683111953,40012443840,11270,60920,17060,77980
2299,Wednesday,34 ST-PENN STA,56626465995,27100659196,19766,47142,28650,75792
2306,Wednesday,42 ST-PORT AUTH,49105866259,33860913384,7881,36869,22111,58980
2297,Wednesday,34 ST-HERALD SQ,17612431381,13883608150,12190,39924,15153,55077
2467,Wednesday,GRD CNTRL-42 ST,52966586520,18202048809,6145,34376,13137,47513

In [50]:
whatdayindex = lambda x: daysofweek.index(x)

In [51]:
groupeddayofweek['DAYOFWEEKVALUE'] = groupeddayofweek.DAYOFWEEK.apply(whatdayindex)

In [52]:
groupeddayofweek = groupeddayofweek.sort_values(['DAYOFWEEKVALUE','dTOTAL'], ascending = [True, False])

In [53]:
groupeddayofweek.dTOTAL = groupeddayofweek.dTOTAL/13

In [54]:
testsunday = groupeddayofweek[(groupeddayofweek.DAYOFWEEK == 'Sunday')]

testmonday = groupeddayofweek[(groupeddayofweek.DAYOFWEEK == 'Monday')]

testsaturday = groupeddayofweek[(groupeddayofweek.DAYOFWEEK == 'Saturday')]

testtuesday = groupeddayofweek[(groupeddayofweek.DAYOFWEEK == 'Tuesday')]

testwed = groupeddayofweek[(groupeddayofweek.DAYOFWEEK == 'Wednesday')]

testfriday=groupeddayofweek[(groupeddayofweek.DAYOFWEEK == 'Friday')]

In [55]:
testsunday.head()

,DAYOFWEEK,STATION,ENTRIES,EXITS,HOUR,dENTRIES,dEXITS,dTOTAL,DAYOFWEEKVALUE
1467,Sunday,TIMES SQ-42 ST,49680137782,40009769718,12397,103208,34285,813.568047,6
1180,Sunday,34 ST-PENN STA,56666310725,27094105278,21139,62246,41933,616.443787,6
1187,Sunday,42 ST-PORT AUTH,51250413079,35568018253,8151,61373,30178,541.721893,6
1178,Sunday,34 ST-HERALD SQ,17608764334,13880333476,13409,59116,29743,525.792899,6
1133,Sunday,14 ST-UNION SQ,17316371190,6501976599,76,56627,20718,457.662722,6

In [56]:
testmonday.head()

,DAYOFWEEK,STATION,ENTRIES,EXITS,HOUR,dENTRIES,dEXITS,dTOTAL,DAYOFWEEKVALUE
721,Monday,TIMES SQ-42 ST,49680791690,40010366611,11270,49215,15668,383.923077,0
434,Monday,34 ST-PENN STA,56644082136,27048852578,19559,38823,21543,357.195266,0
441,Monday,42 ST-PORT AUTH,49219671838,33875534492,7883,33299,17743,302.023669,0
432,Monday,34 ST-HERALD SQ,17609422132,13880927958,12190,29010,13163,249.544379,0
382,Monday,125 ST,8339530124,6789719180,4889,18686,21941,240.396450,0

In [57]:
testsaturday.head()

,DAYOFWEEK,STATION,ENTRIES,EXITS,HOUR,dENTRIES,dEXITS,dTOTAL,DAYOFWEEKVALUE
1041,Saturday,NEWARK C,8417344,511395,227,157985,90047,1467.644970,5
806,Saturday,34 ST-HUDSON YD,3079031,3369660,667,83564,117658,1190.662722,5
986,Saturday,HOYT ST,30356790,28642367,230,101185,69716,1011.248521,5
1010,Saturday,LACKAWANNA,11582950,17209889,237,85535,64857,889.893491,5
1085,Saturday,ST. GEORGE,63964105,193734,138,103635,6,613.260355,5

In [58]:
testtuesday.head()

,DAYOFWEEK,STATION,ENTRIES,EXITS,HOUR,dENTRIES,dEXITS,dTOTAL,DAYOFWEEKVALUE
2213,Tuesday,TIMES SQ-42 ST,49681900361,40011358068,11270,52403,16599,408.295858,1
1926,Tuesday,34 ST-PENN STA,56707637834,27074032038,19605,42820,25860,406.390533,1
1933,Tuesday,42 ST-PORT AUTH,49153584055,33859473810,7882,35087,21386,334.159763,1
1924,Tuesday,34 ST-HERALD SQ,17610516198,13881890149,12167,35052,13973,290.088757,1
2118,Tuesday,JKSN HT-ROOSVLT,1635260640,1218888964,5060,13588,30595,261.437870,1

In [59]:
testfriday.head()

,DAYOFWEEK,STATION,ENTRIES,EXITS,HOUR,dENTRIES,dEXITS,dTOTAL,DAYOFWEEKVALUE
61,Friday,34 ST-PENN STA,56613801105,27093073478,19766,62389,42222,619.000000,4
348,Friday,TIMES SQ-42 ST,49685589047,40014700665,11270,71861,26513,582.094675,4
68,Friday,42 ST-PORT AUTH,51675733125,35893043333,7930,57169,31401,524.082840,4
59,Friday,34 ST-HERALD SQ,17615581418,13886444291,12190,52822,23434,451.218935,4
229,Friday,GRD CNTRL-42 ST,52701414249,19396442145,6099,43118,25347,405.118343,4