In [160]:
import pandas as pd
from __future__ import division
import csv
from datetime import datetime
from collections import Counter

In [161]:
import matplotlib.pyplot as plt

In [162]:
data = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160402.txt')

In [130]:
#list(data.columns.values)

['C/A',
 'UNIT',
 'SCP',
 'STATION',
 'LINENAME',
 'DIVISION',
 'DATE',
 'TIME',
 'DESC',
 'ENTRIES',
 'EXITS']

In [163]:
data.columns = data.columns.str.replace(' ','')

In [82]:
#data.UNIT.head()

0    R051
1    R051
2    R051
3    R051
4    R051
Name: UNIT, dtype: object

In [164]:
data["datetime"] = data["DATE"] + ' ' + data["TIME"]

In [165]:
data.datetime = pd.to_datetime(data.datetime)

In [182]:
data.head(25)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,datetime,dENTRIES,dEXITS,dTOTAL
0,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,00:00:00,REGULAR,5595746,1893277,2016-03-26 00:00:00,0,-5,-5
1,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,04:00:00,REGULAR,5595746,1893282,2016-03-26 04:00:00,0,0,0
2,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,08:00:00,REGULAR,5595746,1893282,2016-03-26 08:00:00,0,0,0
3,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,12:00:00,REGULAR,5595746,1893282,2016-03-26 12:00:00,0,0,0
4,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,16:00:00,REGULAR,5595746,1893282,2016-03-26 16:00:00,0,0,0
5,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,20:00:00,REGULAR,5595746,1893282,2016-03-26 20:00:00,0,0,0
6,A002,R051,02-00-00,59 ST,NQR456,BMT,03/27/2016,00:00:00,REGULAR,5595746,1893282,2016-03-27 00:00:00,0,0,0
7,A002,R051,02-00-00,59 ST,NQR456,BMT,03/27/2016,04:00:00,REGULAR,5595746,1893282,2016-03-27 04:00:00,0,0,0
8,A002,R051,02-00-00,59 ST,NQR456,BMT,03/27/2016,08:00:00,REGULAR,5595746,1893282,2016-03-27 08:00:00,0,0,0
9,A002,R051,02-00-00,59 ST,NQR456,BMT,03/27/2016,12:00:00,REGULAR,5595746,1893282,2016-03-27 12:00:00,0,0,0
10,A002,R051,02-00-00,59 ST,NQR456,BMT,03/27/2016,16:00:00,REGULAR,5595746,1893282,2016-03-27 16:00:00,0,0,0
11,A002,R051,02-00-00,59 ST,NQR456,BMT,03/27/2016,20:00:00,REGULAR,5595746,1893282,2016-03-27 20:00:00,0,0,0
12,A002,R051,02-00-00,59 ST,NQR456,BMT,03/28/2016,00:00:00,REGULAR,5595746,1893282,2016-03-28 00:00:00,0,0,0
13,A002,R051,02-00-00,59 ST,NQR456,BMT,03/28/2016,04:00:00,REGULAR,5595746,1893282,2016-03-28 04:00:00,-34,-100,-134
14,A002,R051,02-00-00,59 ST,NQR456,BMT,03/28/2016,08:00:00,REGULAR,5595780,1893382,2016-03-28 08:00:00,-156,-297,-453
15,A002,R051,02-00-00,59 ST,NQR456,BMT,03/28/2016,12:00:00,REGULAR,5595936,1893679,2016-03-28 12:00:00,-246,-69,-315
16,A002,R051,02-00-00,59 ST,NQR456,BMT,03/28/2016,16:00:00,REGULAR,5596182,1893748,2016-03-28 16:00:00,-509,-186,-695
17,A002,R051,02-00-00,59 ST,NQR456,BMT,03/28/2016,20:00:00,REGULAR,5596691,1893934,2016-03-28 20:00:00,-205,-40,-245
18,A002,R051,02-00-00,59 ST,NQR456,BMT,03/29/2016,00:00:00,REGULAR,5596896,1893974,2016-03-29 00:00:00,-9,-1,-10
19,A002,R051,02-00-00,59 ST,NQR456,BMT,03/29/2016,04:00:00,REGULAR,5596905,1893975,2016-03-29 04:00:00,-37,-109,-146
20,A002,R051,02-00-00,59 ST,NQR456,BMT,03/29/2016,08:00:00,REGULAR,5596942,1894084,2016-03-29 08:00:00,-132,-339,-471
21,A002,R051,02-00-00,59 ST,NQR456,BMT,03/29/2016,12:00:00,REGULAR,5597074,1894423,2016-03-29 12:00:00,-278,-66,-344
22,A002,R051,02-00-00,59 ST,NQR456,BMT,03/29/2016,16:00:00,REGULAR,5597352,1894489,2016-03-29 16:00:00,-483,-320,-803
23,A002,R051,02-00-00,59 ST,NQR456,BMT,03/29/2016,20:00:00,REGULAR,5597835,1894809,2016-03-29 20:00:00,-168,-47,-215
24,A002,R051,02-00-00,59 ST,NQR456,BMT,03/30/2016,00:00:00,REGULAR,5598003,1894856,2016-03-30 00:00:00,-7,-3,-10

In [127]:
#datatest = data.drop('DATE', 1)

In [38]:
#list(datatest.columns.values)

['C/A',
 'UNIT',
 'SCP',
 'STATION',
 'LINENAME',
 'DIVISION',
 'DESC',
 'ENTRIES',
 'EXITS                                                               ',
 'datetime']

In [37]:
#datatest = datatest.drop('TIME', 1)

In [198]:
data['dENTRIES'] = data.ENTRIES.shift(-1) - data.ENTRIES
data['dEXITS'] = data.EXITS.shift(-1) - data.EXITS
data['dTOTAL'] = data.dENTRIES+ data.dEXITS

In [183]:
#data['dENTRIES'] = data.ENTRIES - data.ENTRIES.shift(1)
#data['dEXITS'] = data.EXITS - data.EXITS.shift(1)
#data['dTOTAL'] = data.dENTRIES+ data.dEXITS

In [50]:
list(data.columns.values)

['C/A',
 'UNIT',
 'SCP',
 'STATION',
 'LINENAME',
 'DIVISION',
 'DATE',
 'TIME',
 'DESC',
 'ENTRIES',
 'EXITS',
 'datetime',
 'dENTRIES',
 'dEXITS',
 'dTOTAL']

In [199]:
data.head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,datetime,dENTRIES,dEXITS,dTOTAL
0,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,00:00:00,REGULAR,5595746,1893277,2016-03-26 00:00:00,0,5,5
1,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,04:00:00,REGULAR,5595746,1893282,2016-03-26 04:00:00,0,0,0
2,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,08:00:00,REGULAR,5595746,1893282,2016-03-26 08:00:00,0,0,0
3,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,12:00:00,REGULAR,5595746,1893282,2016-03-26 12:00:00,0,0,0
4,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,16:00:00,REGULAR,5595746,1893282,2016-03-26 16:00:00,0,0,0

In [200]:
mask = (data.TIME == '00:00:00') | (data.TIME=='01:00:00')

In [215]:
datatest = data.ix[mask, :]

In [119]:
#mask2 = (datatest.dENTRIES >= 0) & (datatest.dENTRIES <= 5000) & (datatest.dEXITS >= 0) & (datatest.dEXITS <= 5000)

In [216]:
mask2 = (datatest.dENTRIES >= 0) & (datatest.dENTRIES <=5000) & (datatest2.dEXITS >= 0) & (datatest2.dEXITS <=5000)
#mask3 = (datatest2.dEXITS >= 0) & (datatest2.dEXITS <=5000)

In [217]:
datatest2 = datatest.ix [mask2, :]

In [218]:
#datatest3 = datatest2.ix [mask3, :]

In [219]:
datatest2.shape

(28269, 15)

In [220]:
final = datatest2.groupby([datatest2.DATE,datatest2.STATION]).sum()

In [152]:
mask4 = (datatest3.STATION == '59 ST')

In [153]:
datatest4 = datatest3.ix [mask4, :]

In [154]:
final2 = datatest4.groupby([datatest4.DATE,datatest4.STATION]).sum()

In [223]:
g = final.dTOTAL.groupby(level=0, group_keys=False)

In [145]:
final.shape

(2440, 5)

In [156]:
datatest4.shape

(350, 15)

In [157]:
data.shape

(194154, 15)

In [158]:
datatest.shape

(28575, 15)

In [224]:
g

<pandas.core.groupby.SeriesGroupBy object at 0x11fdf9da0>