In [30]:
import pandas as pd
from __future__ import division
import csv
from datetime import datetime
from collections import Counter
import numpy as np
import gmaps

In [2]:
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160402.txt')

In [4]:
data.columns = data.columns.str.replace(' ','')

In [5]:
data["datetime"] = data["DATE"] + ' ' + data["TIME"]

In [6]:
data.datetime = pd.to_datetime(data.datetime)

In [7]:
data.head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,datetime
0,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,00:00:00,REGULAR,5595746,1893277,2016-03-26 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,04:00:00,REGULAR,5595746,1893282,2016-03-26 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,08:00:00,REGULAR,5595746,1893282,2016-03-26 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,12:00:00,REGULAR,5595746,1893282,2016-03-26 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,16:00:00,REGULAR,5595746,1893282,2016-03-26 16:00:00

In [8]:
data['dENTRIES'] = data.ENTRIES.shift(-1) - data.ENTRIES
data['dEXITS'] = data.EXITS.shift(-1) - data.EXITS
data['dTOTAL'] = data.dENTRIES+ data.dEXITS

In [9]:
list(data.columns.values)

['C/A',
 'UNIT',
 'SCP',
 'STATION',
 'LINENAME',
 'DIVISION',
 'DATE',
 'TIME',
 'DESC',
 'ENTRIES',
 'EXITS',
 'datetime',
 'dENTRIES',
 'dEXITS',
 'dTOTAL']

In [10]:
data.head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,datetime,dENTRIES,dEXITS,dTOTAL
0,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,00:00:00,REGULAR,5595746,1893277,2016-03-26 00:00:00,0.0,5.0,5.0
1,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,04:00:00,REGULAR,5595746,1893282,2016-03-26 04:00:00,0.0,0.0,0.0
2,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,08:00:00,REGULAR,5595746,1893282,2016-03-26 08:00:00,0.0,0.0,0.0
3,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,12:00:00,REGULAR,5595746,1893282,2016-03-26 12:00:00,0.0,0.0,0.0
4,A002,R051,02-00-00,59 ST,NQR456,BMT,03/26/2016,16:00:00,REGULAR,5595746,1893282,2016-03-26 16:00:00,0.0,0.0,0.0

In [11]:
mask = (data.TIME == '00:00:00') | (data.TIME=='01:00:00')

In [12]:
datatest = data.ix[mask, :]

In [13]:
mask2 = (datatest.dENTRIES >= 0) & (datatest.dENTRIES <=5000) & (datatest.dEXITS >= 0) & (datatest.dEXITS <=5000)

In [14]:
datatest2 = datatest.ix [mask2, :]

In [15]:
datatest2.shape

(28269, 15)

In [16]:
final = datatest2.groupby([datatest2.DATE,datatest2.STATION]).sum()

In [17]:
mask3 = (datatest2.dEXITS >= 0) & (datatest2.dEXITS <=5000)

In [18]:
final.shape

(2440, 5)

In [19]:
df = final.reset_index()
#df = final.add_suffix('_Count').reset_index()
#Changing to data frame

In [20]:
df.head()

         DATE        STATION     ENTRIES       EXITS  dENTRIES  dEXITS  dTOTAL
0  03/26/2016           1 AV  1409009188  1462205971    1848.0  1050.0  2898.0
1  03/26/2016         103 ST   152097386   594017455     288.0   380.0   668.0
2  03/26/2016  103 ST-CORONA    62520085    59867349     238.0  1266.0  1504.0
3  03/26/2016         104 ST    16816556    15095950      36.0   114.0   150.0
4  03/26/2016         110 ST    26187023    26772943     280.0   682.0   962.0

In [21]:
df.sort(['dTOTAL'], ascending=False, inplace=True)
#sorting by descending order

/Users/nathanbackblaze/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [22]:
df.head(10)

,DATE,STATION,ENTRIES,EXITS,dENTRIES,dEXITS,dTOTAL
326,03/26/2016,TIMES SQ-42 ST,3825096876,3080925551,7205.0,1990.0,9195.0
674,03/27/2016,TIMES SQ-42 ST,3825167957,3080996667,6887.0,1849.0,8736.0
56,03/26/2016,34 ST-HERALD SQ,1597992066,1303043366,3667.0,1458.0,5125.0
14,03/26/2016,14 ST-UNION SQ,1415380109,500640412,3640.0,1143.0,4783.0
2418,04/01/2016,TIMES SQ-42 ST,3825616648,3081404086,3681.0,1086.0,4767.0
58,03/26/2016,34 ST-PENN STA,2508669961,852711655,2851.0,1774.0,4625.0
405,03/27/2016,34 ST-HERALD SQ,1598065541,1303108564,3092.0,1357.0,4449.0
358,03/27/2016,125 ST,643870177,523483047,1935.0,2409.0,4344.0
9,03/26/2016,125 ST,643817979,523438192,1878.0,2429.0,4307.0
407,03/27/2016,34 ST-PENN STA,2508733787,852780381,2549.0,1725.0,4274.0

In [23]:
df['Weekend'] = 0
df['Weekend'][df['DATE'] == ('03/26/2016')] = 1
df['Weekend'][df['DATE'] == ('03/27/2016')] = 1
#Creating new Weekend column.  For Sat Mid - 4 AM and Sun Mid - 4 AM

/Users/nathanbackblaze/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/nathanbackblaze/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [24]:
df.head(100)

,DATE,STATION,ENTRIES,EXITS,dENTRIES,dEXITS,dTOTAL,Weekend
326,03/26/2016,TIMES SQ-42 ST,3825096876,3080925551,7205.0,1990.0,9195.0,1
674,03/27/2016,TIMES SQ-42 ST,3825167957,3080996667,6887.0,1849.0,8736.0,1
56,03/26/2016,34 ST-HERALD SQ,1597992066,1303043366,3667.0,1458.0,5125.0,1
14,03/26/2016,14 ST-UNION SQ,1415380109,500640412,3640.0,1143.0,4783.0,1
2418,04/01/2016,TIMES SQ-42 ST,3825616648,3081404086,3681.0,1086.0,4767.0,0
58,03/26/2016,34 ST-PENN STA,2508669961,852711655,2851.0,1774.0,4625.0,1
405,03/27/2016,34 ST-HERALD SQ,1598065541,1303108564,3092.0,1357.0,4449.0,1
358,03/27/2016,125 ST,643870177,523483047,1935.0,2409.0,4344.0,1
9,03/26/2016,125 ST,643817979,523438192,1878.0,2429.0,4307.0,1
407,03/27/2016,34 ST-PENN STA,2508733787,852780381,2549.0,1725.0,4274.0,1
139,03/26/2016,BEDFORD AV,164894407,93811147,2525.0,1646.0,4171.0,1
363,03/27/2016,14 ST-UNION SQ,1415455611,500702489,3061.0,993.0,4054.0,1
2069,03/31/2016,TIMES SQ-42 ST,3707740661,3080592502,3252.0,794.0,4046.0,0
1023,03/28/2016,TIMES SQ-42 ST,3825223377,3081046749,3000.0,943.0,3943.0,0
488,03/27/2016,BEDFORD AV,164921925,93837929,2416.0,1496.0,3912.0,1
13,03/26/2016,14 ST,589810971,191535105,2788.0,1124.0,3912.0,1
43,03/26/2016,23 ST,3759411380,3236497180,2813.0,1070.0,3883.0,1
243,03/26/2016,JKSN HT-ROOSVLT,127242726,94870997,1016.0,2724.0,3740.0,1
73,03/26/2016,50 ST,146786712,130659243,2569.0,1131.0,3700.0,1
116,03/26/2016,ATL AV-BARCLAY,326036280,255585433,2745.0,949.0,3694.0,1
422,03/27/2016,50 ST,146821475,130685883,2492.0,1161.0,3653.0,1
1372,03/29/2016,TIMES SQ-42 ST,3825312765,3081128492,2736.0,904.0,3640.0,0
392,03/27/2016,23 ST,3759471989,3236549545,2503.0,1110.0,3613.0,1
591,03/27/2016,JKSN HT-ROOSVLT,127279031,94899997,1044.0,2563.0,3607.0,1
364,03/27/2016,145 ST,1476213465,2081962663,768.0,2790.0,3558.0,1
1721,03/30/2016,TIMES SQ-42 ST,3825412189,3081218697,2683.0,796.0,3479.0,0
362,03/27/2016,14 ST,589849456,191571963,2475.0,985.0,3460.0,1
104,03/26/2016,86 ST,1406388385,642141197,1638.0,1772.0,3410.0,1
15,03/26/2016,145 ST,1476187007,2081939631,701.0,2708.0,3409.0,1
2148,04/01/2016,34 ST-HERALD SQ,1598617851,1303595857,2357.0,931.0,3288.0,0
...,...,...,...,...,...,...,...,...
384,03/27/2016,2 AV,50269295,59816298,1654.0,591.0,2245.0,1
1616,03/30/2016,GRD CNTRL-42 ST,2858901191,757109098,1420.0,824.0,2244.0,0
447,03/27/2016,8 AV,200027236,92817407,1729.0,479.0,2208.0,1
2173,04/01/2016,59 ST COLUMBUS,3358893058,2944300532,1694.0,511.0,2205.0,0
537,03/27/2016,DELANCEY/ESSEX,1710583720,1111094908,1681.0,517.0,2198.0,1
755,03/28/2016,34 ST-PENN STA,2508791289,852832005,1484.0,700.0,2184.0,0
429,03/27/2016,59 ST,263287952,214492235,1342.0,827.0,2169.0,1
1267,03/29/2016,GRD CNTRL-42 ST,5005436846,2099681512,1264.0,885.0,2149.0,0
2107,04/01/2016,145 ST,1476394385,2082111429,524.0,1610.0,2134.0,0
2196,04/01/2016,86 ST,1406927533,642593235,1108.0,1025.0,2133.0,0
2172,04/01/2016,59 ST,263634381,214759888,1425.0,706.0,2131.0,0
1503,03/30/2016,96 ST,797243020,1439064102,775.0,1352.0,2127.0,0
940,03/28/2016,JKSN HT-ROOSVLT,127308075,94924004,753.0,1358.0,2111.0,0
2165,04/01/2016,50 ST,147060334,130872054,1475.0,609.0,2084.0,0
465,03/27/2016,ATL AV-BARCLAY,326070667,255616895,1208.0,826.0,2034.0,1
1055,03/29/2016,125 ST,621587362,517139861,922.0,1098.0,2020.0,0
2231,04/01/2016,BEDFORD AV,165047832,93965540,1100.0,919.0,2019.0,0
1787,03/31/2016,23 ST,3759896519,3236867577,1470.0,499.0,1969.0,0
238,03/26/2016,JAMAICA CENTER,110691250,68247322,635.0,1319.0,1954.0,1
456,03/27/2016,90 ST-ELMHURST,63000606,33263678,1057.0,889.0,1946.0,1
1404,03/30/2016,125 ST,537190319,473106216,874.0,1061.0,1935.0,0
1825,03/31/2016,59 ST COLUMBUS,3358811870,2944240757,1469.0,453.0,1922.0,0
2297,04/01/2016,FLUSHING-MAIN,184467007,185423186,578.0,1328.0,1906.0,0
522,03/27/2016,CHURCH AV,333581706,144130467,429.0,1473.0,1902.0,1
1758,03/31/2016,14 ST-UNION SQ,1415823471,501011830,1225.0,672.0,1897.0,0
163,03/26/2016,CANAL ST,3943444483,2222376524,1264.0,605.0,1869.0,1
2426,04/01/2016,W 4 ST-WASH SQ,805268678,897511454,1364.0,497.0,1861.0,0
64,03/26/2016,42 ST-BRYANT PK,1945341954,1423094211,1366.0,487.0,1853.0,1
413,03/27/2016,42 ST-BRYANT PK,1945359544,1423114772,1423.0,424.0,1847.0,1
712,03/28/2016,145 ST,1476233796,2081982937,483.0,1358.0,1841.0,0

In [25]:
trim_df = df.head(10)

In [27]:
# import numpy as np

# station = trim_df['STATION']
# values = trim_df['dTOTAL_Count']

# plt.figure()

# plt.barh(np.arange(len(station)), values)

# plt.yticks(np.arange(len(station)),
#            ['Station {}'.format(x) for x in station])

# plt.show()

In [54]:
df

,DATE,STATION,ENTRIES,EXITS,dENTRIES,dEXITS,dTOTAL,Weekend,Station Location
326,03/26/2016,TIMES SQ-42 ST,3825096876,3080925551,7205.0,1990.0,9195.0,1,[]
674,03/27/2016,TIMES SQ-42 ST,3825167957,3080996667,6887.0,1849.0,8736.0,1,[]
56,03/26/2016,34 ST-HERALD SQ,1597992066,1303043366,3667.0,1458.0,5125.0,1,[]
14,03/26/2016,14 ST-UNION SQ,1415380109,500640412,3640.0,1143.0,4783.0,1,[]
2418,04/01/2016,TIMES SQ-42 ST,3825616648,3081404086,3681.0,1086.0,4767.0,0,[]
58,03/26/2016,34 ST-PENN STA,2508669961,852711655,2851.0,1774.0,4625.0,1,[]
405,03/27/2016,34 ST-HERALD SQ,1598065541,1303108564,3092.0,1357.0,4449.0,1,[]
358,03/27/2016,125 ST,643870177,523483047,1935.0,2409.0,4344.0,1,[]
9,03/26/2016,125 ST,643817979,523438192,1878.0,2429.0,4307.0,1,[]
407,03/27/2016,34 ST-PENN STA,2508733787,852780381,2549.0,1725.0,4274.0,1,[]
139,03/26/2016,BEDFORD AV,164894407,93811147,2525.0,1646.0,4171.0,1,[]
363,03/27/2016,14 ST-UNION SQ,1415455611,500702489,3061.0,993.0,4054.0,1,[]
2069,03/31/2016,TIMES SQ-42 ST,3707740661,3080592502,3252.0,794.0,4046.0,0,[]
1023,03/28/2016,TIMES SQ-42 ST,3825223377,3081046749,3000.0,943.0,3943.0,0,[]
488,03/27/2016,BEDFORD AV,164921925,93837929,2416.0,1496.0,3912.0,1,[]
13,03/26/2016,14 ST,589810971,191535105,2788.0,1124.0,3912.0,1,[]
43,03/26/2016,23 ST,3759411380,3236497180,2813.0,1070.0,3883.0,1,[]
243,03/26/2016,JKSN HT-ROOSVLT,127242726,94870997,1016.0,2724.0,3740.0,1,[]
73,03/26/2016,50 ST,146786712,130659243,2569.0,1131.0,3700.0,1,[]
116,03/26/2016,ATL AV-BARCLAY,326036280,255585433,2745.0,949.0,3694.0,1,[]
422,03/27/2016,50 ST,146821475,130685883,2492.0,1161.0,3653.0,1,[]
1372,03/29/2016,TIMES SQ-42 ST,3825312765,3081128492,2736.0,904.0,3640.0,0,[]
392,03/27/2016,23 ST,3759471989,3236549545,2503.0,1110.0,3613.0,1,[]
591,03/27/2016,JKSN HT-ROOSVLT,127279031,94899997,1044.0,2563.0,3607.0,1,[]
364,03/27/2016,145 ST,1476213465,2081962663,768.0,2790.0,3558.0,1,[]
1721,03/30/2016,TIMES SQ-42 ST,3825412189,3081218697,2683.0,796.0,3479.0,0,[]
362,03/27/2016,14 ST,589849456,191571963,2475.0,985.0,3460.0,1,[]
104,03/26/2016,86 ST,1406388385,642141197,1638.0,1772.0,3410.0,1,[]
15,03/26/2016,145 ST,1476187007,2081939631,701.0,2708.0,3409.0,1,[]
2148,04/01/2016,34 ST-HERALD SQ,1598617851,1303595857,2357.0,931.0,3288.0,0,[]
...,...,...,...,...,...,...,...,...,...
275,03/26/2016,NEPTUNE AV,6555482,2605487,6.0,11.0,17.0,1,[]
1406,03/30/2016,137 ST CITY COL,52663481,41641099,1.0,16.0,17.0,0,[]
1402,03/30/2016,116 ST-COLUMBIA,1210502946,256352757,2.0,15.0,17.0,0,[]
2110,04/01/2016,157 ST,30933208,19154661,4.0,12.0,16.0,0,[]
2048,03/31/2016,RIT-MANHATTAN,2693543,31185,15.0,0.0,15.0,0,[]
1350,03/29/2016,RIT-MANHATTAN,2685190,31085,11.0,3.0,14.0,0,[]
305,03/26/2016,RIT-ROOSEVELT,7480351,447526,10.0,4.0,14.0,1,[]
501,03/27/2016,BROAD CHANNEL,1777869,610344,8.0,6.0,14.0,1,[]
828,03/28/2016,BEACH 105 ST,118581252,1604941,5.0,9.0,14.0,0,[]
480,03/27/2016,BEACH 105 ST,118581185,1604846,4.0,9.0,13.0,1,[]
1413,03/30/2016,157 ST,32341679,21701195,4.0,9.0,13.0,0,[]
1762,03/31/2016,157 ST,32352601,21707551,3.0,10.0,13.0,0,[]
846,03/28/2016,BOWLING GREEN,1104440761,1631448849,3.0,10.0,13.0,0,[]
152,03/26/2016,BROAD CHANNEL,1777757,610283,3.0,9.0,12.0,1,[]
1351,03/29/2016,RIT-ROOSEVELT,7492036,447752,1.0,11.0,12.0,0,[]
2397,04/01/2016,RIT-ROOSEVELT,7504581,447936,5.0,5.0,10.0,0,[]
1053,03/29/2016,116 ST-COLUMBIA,1210485210,256343801,0.0,10.0,10.0,0,[]
1057,03/29/2016,137 ST CITY COL,52648551,41631070,2.0,7.0,9.0,0,[]
1002,03/28/2016,RIT-ROOSEVELT,7488547,447706,6.0,2.0,8.0,0,[]
2099,04/01/2016,116 ST-COLUMBIA,1210538321,256370416,0.0,6.0,6.0,0,[]
1778,03/31/2016,191 ST,9202938,11814742,0.0,4.0,4.0,0,[]
2103,04/01/2016,137 ST CITY COL,52693437,41661271,0.0,4.0,4.0,0,[]
2049,03/31/2016,RIT-ROOSEVELT,7500144,447891,1.0,2.0,3.0,0,[]
1080,03/29/2016,191 ST,9185433,11797402,0.0,3.0,3.0,0,[]
1751,03/31/2016,116 ST-COLUMBIA,1210520365,256361499,1.0,1.0,2.0,0,[]
2126,04/01/2016,191 ST,9211612,11823486,0.0,2.0,2.0,0,[]
1429,03/30/2016,191 ST,9194167,11806018,0.0,2.0,2.0,0,[]
1700,03/30/2016,RIT-ROOSEVELT,7495953,447816,1.0,1.0,2.0,0,[]
922,03/28/2016,HARLEM 148 ST,9084825,6448119,0.0,0.0,0.0,0,[]
573,03/27/2016,HARLEM 148 ST,9084825,6448114,0.0,0.0,0.0,1,[]

In [50]:
df_locations = pd.read_csv('NYC_Transit_Subway_Entrance_And_Exit_Data.csv')
df_locations = df_locations[['Station Name', 'Station Latitude', 'Station Longitude']]
df_locations_upper = df_locations
df_locations_upper['Station Name'] = df_locations['Station Name'].str.upper()
df.merge(df_locations_upper, left_on='STATION', right_on='Station Name', how='outer')

            Station Name  Station Latitude  Station Longitude
0                25TH ST         40.660397         -73.998091
1                25TH ST         40.660397         -73.998091
2                36TH ST         40.655144         -74.003549
3                36TH ST         40.655144         -74.003549
4                36TH ST         40.655144         -74.003549
5                45TH ST         40.648939         -74.010006
6                45TH ST         40.648939         -74.010006
7                45TH ST         40.648939         -74.010006
8                45TH ST         40.648939         -74.010006
9                53RD ST         40.645069         -74.014034
10               53RD ST         40.645069         -74.014034
11               53RD ST         40.645069         -74.014034
12               53RD ST         40.645069         -74.014034
13               53RD ST         40.645069         -74.014034
14               59TH ST         40.641362         -74.017881
15               59TH ST         40.641362         -74.017881
16               59TH ST         40.641362         -74.017881
17               59TH ST         40.641362         -74.017881
18               59TH ST         40.641362         -74.017881
19               59TH ST         40.641362         -74.017881
20               77TH ST         40.629742         -74.025510
21               77TH ST         40.629742         -74.025510
22               77TH ST         40.629742         -74.025510
23               86TH ST         40.622687         -74.028398
24               86TH ST         40.622687         -74.028398
25               86TH ST         40.622687         -74.028398
26               95TH ST         40.616622         -74.030876
27               95TH ST         40.616622         -74.030876
28               95TH ST         40.616622         -74.030876
29               95TH ST         40.616622         -74.030876
...                  ...               ...                ...
1838          FREEMAN ST         40.829993         -73.891865
1839          FREEMAN ST         40.829993         -73.891865
1840          FREEMAN ST         40.829993         -73.891865
1841         GUN HILL RD         40.877850         -73.866256
1842         GUN HILL RD         40.877850         -73.866256
1843        INTERVALE AV         40.822181         -73.896736
1844        INTERVALE AV         40.822181         -73.896736
1845        INTERVALE AV         40.822181         -73.896736
1846          JACKSON AV         40.816490         -73.907807
1847          JACKSON AV         40.816490         -73.907807
1848          JACKSON AV         40.816490         -73.907807
1849          JACKSON AV         40.816490         -73.907807
1850      PELHAM PARKWAY         40.857192         -73.867615
1851      PELHAM PARKWAY         40.857192         -73.867615
1852      PELHAM PARKWAY         40.857192         -73.867615
1853      PELHAM PARKWAY         40.857192         -73.867615
1854      PELHAM PARKWAY         40.857192         -73.867615
1855         PROSPECT AV         40.819585         -73.901770
1856         PROSPECT AV         40.819585         -73.901770
1857         PROSPECT AV         40.819585         -73.901770
1858         PROSPECT AV         40.819585         -73.901770
1859         PROSPECT AV         40.819585         -73.901770
1860          SIMPSON ST         40.824073         -73.893064
1861          SIMPSON ST         40.824073         -73.893064
1862          SIMPSON ST         40.824073         -73.893064
1863          SIMPSON ST         40.824073         -73.893064
1864          SIMPSON ST         40.824073         -73.893064
1865  WAKEFIELD-241ST ST         40.903125         -73.850620
1866  WAKEFIELD-241ST ST         40.903125         -73.850620
1867  WAKEFIELD-241ST ST         40.903125         -73.850620

[1868 rows x 3 columns]

In [38]:
df['Station Location'] = [[] for x in range(len(df))]

In [40]:
df['Station Location']

326     []
674     []
56      []
14      []
2418    []
Name: Station Location, dtype: object

In [53]:
df.merge(df_locations_upper, left_on='STATION', right_on='Station Name', how='outer')

,DATE,STATION,ENTRIES,EXITS,dENTRIES,dEXITS,dTOTAL,Weekend,Station Location,Station Name,Station Latitude,Station Longitude
0,03/26/2016,TIMES SQ-42 ST,3.825097e+09,3.080926e+09,7205.0,1990.0,9195.0,1.0,[],NaN,NaN,NaN
1,03/27/2016,TIMES SQ-42 ST,3.825168e+09,3.080997e+09,6887.0,1849.0,8736.0,1.0,[],NaN,NaN,NaN
2,04/01/2016,TIMES SQ-42 ST,3.825617e+09,3.081404e+09,3681.0,1086.0,4767.0,0.0,[],NaN,NaN,NaN
3,03/31/2016,TIMES SQ-42 ST,3.707741e+09,3.080593e+09,3252.0,794.0,4046.0,0.0,[],NaN,NaN,NaN
4,03/28/2016,TIMES SQ-42 ST,3.825223e+09,3.081047e+09,3000.0,943.0,3943.0,0.0,[],NaN,NaN,NaN
5,03/29/2016,TIMES SQ-42 ST,3.825313e+09,3.081128e+09,2736.0,904.0,3640.0,0.0,[],NaN,NaN,NaN
6,03/30/2016,TIMES SQ-42 ST,3.825412e+09,3.081219e+09,2683.0,796.0,3479.0,0.0,[],NaN,NaN,NaN
7,03/26/2016,34 ST-HERALD SQ,1.597992e+09,1.303043e+09,3667.0,1458.0,5125.0,1.0,[],NaN,NaN,NaN
8,03/27/2016,34 ST-HERALD SQ,1.598066e+09,1.303109e+09,3092.0,1357.0,4449.0,1.0,[],NaN,NaN,NaN
9,04/01/2016,34 ST-HERALD SQ,1.598618e+09,1.303596e+09,2357.0,931.0,3288.0,0.0,[],NaN,NaN,NaN
10,03/31/2016,34 ST-HERALD SQ,1.598491e+09,1.303483e+09,2027.0,737.0,2764.0,0.0,[],NaN,NaN,NaN
11,03/29/2016,34 ST-HERALD SQ,1.598236e+09,1.303257e+09,1887.0,725.0,2612.0,0.0,[],NaN,NaN,NaN
12,03/30/2016,34 ST-HERALD SQ,1.598363e+09,1.303368e+09,1820.0,652.0,2472.0,0.0,[],NaN,NaN,NaN
13,03/28/2016,34 ST-HERALD SQ,1.598115e+09,1.303151e+09,1218.0,558.0,1776.0,0.0,[],NaN,NaN,NaN
14,03/26/2016,14 ST-UNION SQ,1.415380e+09,5.006404e+08,3640.0,1143.0,4783.0,1.0,[],NaN,NaN,NaN
15,03/27/2016,14 ST-UNION SQ,1.415456e+09,5.007025e+08,3061.0,993.0,4054.0,1.0,[],NaN,NaN,NaN
16,04/01/2016,14 ST-UNION SQ,1.415936e+09,5.011060e+08,1866.0,882.0,2748.0,0.0,[],NaN,NaN,NaN
17,03/31/2016,14 ST-UNION SQ,1.415823e+09,5.010118e+08,1225.0,672.0,1897.0,0.0,[],NaN,NaN,NaN
18,03/30/2016,14 ST-UNION SQ,1.415712e+09,5.009182e+08,1154.0,593.0,1747.0,0.0,[],NaN,NaN,NaN
19,03/29/2016,14 ST-UNION SQ,1.415603e+09,5.008261e+08,1019.0,579.0,1598.0,0.0,[],NaN,NaN,NaN
20,03/28/2016,14 ST-UNION SQ,1.415505e+09,5.007423e+08,876.0,452.0,1328.0,0.0,[],NaN,NaN,NaN
21,03/26/2016,34 ST-PENN STA,2.508670e+09,8.527117e+08,2851.0,1774.0,4625.0,1.0,[],NaN,NaN,NaN
22,03/27/2016,34 ST-PENN STA,2.508734e+09,8.527804e+08,2549.0,1725.0,4274.0,1.0,[],NaN,NaN,NaN
23,04/01/2016,34 ST-PENN STA,2.576244e+09,8.519273e+08,1764.0,1077.0,2841.0,0.0,[],NaN,NaN,NaN
24,03/31/2016,34 ST-PENN STA,2.576120e+09,8.518135e+08,1601.0,900.0,2501.0,0.0,[],NaN,NaN,NaN
25,03/29/2016,34 ST-PENN STA,2.575868e+09,8.515877e+08,1676.0,747.0,2423.0,0.0,[],NaN,NaN,NaN
26,03/30/2016,34 ST-PENN STA,2.575994e+09,8.516991e+08,1499.0,789.0,2288.0,0.0,[],NaN,NaN,NaN
27,03/28/2016,34 ST-PENN STA,2.508791e+09,8.528320e+08,1484.0,700.0,2184.0,0.0,[],NaN,NaN,NaN
28,03/27/2016,125 ST,6.438702e+08,5.234830e+08,1935.0,2409.0,4344.0,1.0,[],NaN,NaN,NaN
29,03/26/2016,125 ST,6.438180e+08,5.234382e+08,1878.0,2429.0,4307.0,1.0,[],NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149TH ST-3RD AV,40.816109,-73.917757
7002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149TH ST-3RD AV,40.816109,-73.917757
7003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149TH ST-3RD AV,40.816109,-73.917757
7004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149TH ST-3RD AV,40.816109,-73.917757
7005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149TH ST-3RD AV,40.816109,-73.917757
7006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149TH ST-3RD AV,40.816109,-73.917757
7007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149TH ST-3RD AV,40.816109,-73.917757
7008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174TH ST,40.837288,-73.887734
7009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174TH ST,40.837288,-73.887734
7010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174TH ST,40.837288,-73.887734
7011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174TH ST,40.837288,-73.887734
7012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,219TH ST,40.883895,-73.862633
7013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,219TH ST,40.883895,-73.862633
7014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225TH ST,40.888022,-73.860341
7015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225TH ST,40.888022,-73.860341
7016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225TH ST,40.888022,-73.860341
7017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233RD ST,40.893193,-73.857473
7018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233RD ST,40.893193,-73.857473
7019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,238TH ST-NEREID AV,40.898379,-73.854376
7020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,238TH ST-NEREID AV,40.898379,-73.854376
7021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EAST 180TH ST,40.841894,-73.873488
7022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EAST 180TH ST,40.841894,-73.873488
7023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EAST TREMONT AV-WEST FARMS SQ,40.840295,-73.880049
7024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EAST TREMONT AV-WEST FARMS SQ,40.840295,-73.880049
7025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EAST TREMONT AV-WEST FARMS SQ,40.840295,-73.880049
7026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EAST TREMONT AV-WEST FARMS SQ,40.840295,-73.880049
7027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EAST TREMONT AV-WEST FARMS SQ,40.840295,-73.880049
7028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WAKEFIELD-241ST ST,40.903125,-73.850620
7029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WAKEFIELD-241ST ST,40.903125,-73.850620
7030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WAKEFIELD-241ST ST,40.903125,-73.850620

In [42]:
for row in df:
    for row_loc in df_locations:
        print row_loc
#         if row_loc['Station Name'] == row['STATION']:
#             row['Station Location'].append([row_loc['Station Latitude'],row_loc['Station Longitude']])

Station Name
Station Latitude
Station Longitude
Station Name
Station Latitude
Station Longitude
Station Name
Station Latitude
Station Longitude
Station Name
Station Latitude
Station Longitude
Station Name
Station Latitude
Station Longitude
Station Name
Station Latitude
Station Longitude
Station Name
Station Latitude
Station Longitude
Station Name
Station Latitude
Station Longitude
Station Name
Station Latitude
Station Longitude

In [ ]:
def Jitter(values, jitter=0.000001):
    n = len(values)
    return np.random.uniform(-jitter, +jitter) + values