In [3]:
import csv
import urllib
import io
import pandas as pd
data = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160326.txt')

In [4]:
data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,00:00:00,REGULAR,5590801,1889027
1,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,04:00:00,REGULAR,5590828,1889032
2,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,08:00:00,REGULAR,5590852,1889059
3,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,12:00:00,REGULAR,5590958,1889162
4,A002,R051,02-00-00,59 ST,NQR456,BMT,03/19/2016,16:00:00,REGULAR,5591207,1889248

In [6]:
data.columns

Index([u'C/A', u'UNIT', u'SCP', u'STATION', u'LINENAME', u'DIVISION', u'DATE',
       u'TIME', u'DESC', u'ENTRIES',
       u'EXITS                                                               '],
      dtype='object')

In [10]:
data.rename(columns={data.columns[-1]: data.columns[-1].replace(' ','')}, inplace=True)
data.columns

Index([u'C/A', u'UNIT', u'SCP', u'STATION', u'LINENAME', u'DIVISION', u'DATE',
       u'TIME', u'DESC', u'ENTRIES', u'EXITS'],
      dtype='object')

In [15]:
data['Delta'] = abs((data['ENTRIES'] - data['ENTRIES'].shift(-1)) + (data['EXITS'] - data['EXITS'].shift(-1)))

In [30]:
test = data.sort_values(['Delta'])

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Delta
127212,R143,R032,02-03-02,TIMES SQ-42 ST,1237ACENQRS,IRT,03/25/2016,20:00:00,REGULAR,1711695933,1157930718,2.868804e+09
44483,N029,R333,01-00-02,116 ST,BC,IND,03/25/2016,21:00:00,REGULAR,1275373307,1627010809,2.885765e+09
70349,N208,R443,01-05-01,170 ST,BD,IND,03/25/2016,21:00:00,REGULAR,916848676,2087386956,3.003944e+09
95299,N508,R453,00-00-02,23 ST,FM,IND,03/25/2016,20:00:00,REGULAR,1827210226,1930338495,3.100388e+09
92769,N502,R021,01-00-03,42 ST-BRYANT PK,BDFM7,IND,03/25/2016,20:00:00,REGULAR,5614870,2271217,3.114903e+09
92813,N502,R021,01-00-04,42 ST-BRYANT PK,BDFM7,IND,03/25/2016,20:00:00,REGULAR,1830132327,1292685538,3.118090e+09
131409,R161A,R452,01-06-02,72 ST,123,IRT,03/25/2016,21:00:00,REGULAR,1226181711,1926819117,3.136091e+09
131365,R161A,R452,01-06-01,72 ST,123,IRT,03/25/2016,21:00:00,REGULAR,7602308,4637128,3.140775e+09
160735,R310,R053,01-00-01,3 AV-149 ST,25,IRT,03/25/2016,20:00:00,REGULAR,6640131,762375,3.179582e+09
160777,R310,R053,01-00-02,3 AV-149 ST,25,IRT,03/25/2016,20:00:00,REGULAR,1945335259,1241633203,3.182698e+09
50026,N063A,R011,00-00-06,42 ST-PORT AUTH,ACENQRS1237,IND,03/25/2016,20:00:00,REGULAR,1410994628,1829106673,3.209087e+09
145217,R228,R143,00-00-01,28 ST,6,IRT,03/25/2016,21:00:00,REGULAR,1426964970,1879752066,3.296276e+09
145175,R228,R143,00-00-00,28 ST,6,IRT,03/25/2016,21:00:00,REGULAR,2061721,3651233,3.300982e+09
128048,R148,R033,01-00-00,TIMES SQ-42 ST,1237ACENQRS,IRT,03/25/2016,20:00:00,REGULAR,6922514,9132820,3.305303e+09
128090,R148,R033,01-00-01,TIMES SQ-42 ST,1237ACENQRS,IRT,03/25/2016,20:00:00,REGULAR,1894392250,1426961215,3.316519e+09
148640,R238A,R046,02-00-02,GRD CNTRL-42 ST,4567S,IRT,03/25/2016,20:00:00,REGULAR,1769926,104882,3.487541e+09
148682,R238A,R046,02-00-03,GRD CNTRL-42 ST,4567S,IRT,03/25/2016,20:00:00,REGULAR,2146696604,1342719068,3.489416e+09
144112,R226,R131,02-00-00,23 ST,6,IRT,03/25/2016,21:00:00,REGULAR,1996840688,1544245833,3.519614e+09
144070,R221,R170,01-06-03,14 ST-UNION SQ,456LNQR,IRT,03/25/2016,21:00:00,REGULAR,4584525,1280482,3.535198e+09
3515,A025,R023,01-03-02,34 ST-HERALD SQ,BDFMNQR,BMT,03/25/2016,20:00:00,REGULAR,1557587682,2048391526,3.576123e+09
3473,A025,R023,01-03-01,34 ST-HERALD SQ,BDFMNQR,BMT,03/25/2016,20:00:00,REGULAR,11032107,6671905,3.588286e+09
157770,R287,R244,00-06-00,BURNSIDE AV,4,IRT,03/25/2016,20:00:00,REGULAR,1976968,4700948,3.636779e+09
157812,R288,R275,00-00-00,183 ST,4,IRT,03/25/2016,20:00:00,REGULAR,1779727741,1863747643,3.639757e+09
48514,N062,R011,01-00-00,42 ST-PORT AUTH,ACENQRS1237,IND,03/25/2016,20:00:00,REGULAR,9887550,34673691,3.679747e+09
48556,N062,R011,01-00-01,42 ST-PORT AUTH,ACENQRS1237,IND,03/25/2016,20:00:00,REGULAR,2031474928,1692830391,3.718153e+09
121283,R116,R030,00-00-01,CHAMBERS ST,123,IRT,03/25/2016,20:00:00,REGULAR,9999494,11087830,3.805322e+09
121326,R116,R030,00-00-02,CHAMBERS ST,123,IRT,03/25/2016,20:00:00,REGULAR,2114628307,1711796106,3.816414e+09
35985,J005,R353,00-00-00,LORIMER ST,JM,BMT,03/25/2016,21:00:00,REGULAR,4106135,1342499,4.222466e+09
36026,J005,R353,00-00-01,LORIMER ST,JM,BMT,03/25/2016,21:00:00,REGULAR,2130756393,2097166165,4.225224e+09
192945,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/25/2016,21:00:00,REGULAR,5554,236,NaN

In [18]:
data[['TIME','DATE']] = pd.to_datetime(data[['TIME','DATE']])

TypeError: arg must be a string, datetime, list, tuple, 1-d array, or Series

In [ ]:
df_night = data[data['TIME' ==  ]

In [1]:
data[['UNIT'] == 'R032']

NameError: name 'data' is not defined