In [21]:
import gmaps
import pandas as pd
import numpy as np

In [22]:
data = [ [ 37.782551,-122.445368 ],
         [ 37.782745,-122.444586 ],
         [ 37.782842,-122.443858 ] ]

gmaps.heatmap(data)

In [3]:
# jitter to add density for heat map

In [14]:
def Jitter(values, jitter=0.000001):
    n = len(values)
    return np.random.uniform(-jitter, +jitter) + values

In [15]:
df = pd.read_csv('NYC_Transit_Subway_Entrance_And_Exit_Data.csv')

In [16]:
df.head()

,Division,Line,Station Name,Station Latitude,Station Longitude,Route1,Route2,Route3,Route4,Route5,...,ADA,ADA Notes,Free Crossover,North South Street,East West Street,Corner,Entrance Latitude,Entrance Longitude,Station Location,Entrance Location
0,BMT,4 Avenue,25th St,40.660397,-73.998091,R,NaN,NaN,NaN,NaN,...,False,NaN,False,4th Ave,25th St,SE,40.660323,-73.997952,"(40.660397, -73.998091)","(40.660323, -73.997952)"
1,BMT,4 Avenue,25th St,40.660397,-73.998091,R,NaN,NaN,NaN,NaN,...,False,NaN,False,4th Ave,25th St,SW,40.660489,-73.998220,"(40.660397, -73.998091)","(40.660489, -73.998220)"
2,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NW,40.654490,-74.004499,"(40.655144, -74.003549)","(40.654490, -74.004499)"
3,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NE,40.654365,-74.004113,"(40.655144, -74.003549)","(40.654365, -74.004113)"
4,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NW,40.654676,-74.004306,"(40.655144, -74.003549)","(40.654676, -74.004306)"

In [17]:
lat_long = df[['Station Latitude','Station Longitude']].values

In [18]:
lat_long

array([[ 40.660397, -73.998091],
       [ 40.660397, -73.998091],
       [ 40.655144, -74.003549],
       ...,
       [ 40.903125, -73.85062 ],
       [ 40.903125, -73.85062 ],
       [ 40.903125, -73.85062 ]])

In [10]:
gmaps.heatmap(lat_long)

In [19]:
jitter_lat_long = Jitter(lat_long)

In [20]:
gmaps.heatmap(jitter_lat_long)